## ðŸ’¸ Company Market Value Prediction

Given *data about the world's largest companies*, let's try to predict the **market value** of a given company.

We will use a tensorflow/keras neural network to make our predictions.

Data source: https://www.kaggle.com/datasets/jasmeet0516/largest-companies-in-world

### Importing Libraries

In [1]:
import numpy as np
import pandas as pd

import plotly.express as px
import plotly.io as pio
pio.renderers.default = 'iframe'

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import tensorflow as tf

2025-03-09 11:11:17.946053: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: SSE4.1 SSE4.2 AVX AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
data = pd.read_csv("Largest companies in world.csv")
data

,rank,organizationName,country,revenue,profits,assets,marketValue
0,1,JPMorgan Chase,United States,179.93 B,41.8 B,"3,744.3 B",399.59 B
1,2,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,589.47 B,156.36 B,660.99 B,"2,055.22 B"
2,3,ICBC,China,216.77 B,52.47 B,"6,116.82 B",203.01 B
3,4,China Construction Bank,China,203.08 B,48.25 B,"4,977.48 B",172.99 B
4,5,Agricultural Bank of China,China,186.14 B,37.92 B,"5,356.86 B",141.82 B
...,...,...,...,...,...,...,...
2046,"1,996",Alfa Laval,Sweden,5.35 B,489.5 M,7.82 B,15.6 B
2047,"1,996",Gap,United States,15.62 B,-202 M,11.39 B,3.17 B
2048,"1,996",Yes Bank,India,3.34 B,91.6 M,43.22 B,5.6 B
2049,"1,999",BEKB-BCBE,Switzerland,556 M,167.1 M,42.97 B,2.49 B
2050,"1,999",Ipsen,France,3.18 B,681.7 M,5.99 B,10.21 B

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rank              2050 non-null   object
 1   organizationName  2050 non-null   object
 2   country           2050 non-null   object
 3   revenue           2049 non-null   object
 4   profits           2049 non-null   object
 5   assets            2049 non-null   object
 6   marketValue       2049 non-null   object
dtypes: object(7)
memory usage: 112.3+ KB

### Preprocessing

In [4]:
df = data.copy()

In [5]:
df.isna().sum()

rank                1
organizationName    1
country             1
revenue             2
profits             2
assets              2
marketValue         2
dtype: int64

In [6]:
# missing values in the dataframe
missing_value_rows = df.loc[df.isna().any(axis=1) == True, :]
missing_value_rows

,rank,organizationName,country,revenue,profits,assets,marketValue
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
521,471,GE HealthCare Consulting,United States,NaN,NaN,NaN,NaN

In [7]:
df = df.drop(missing_value_rows.index, axis=0)

In [8]:
df.isna().sum()

rank                0
organizationName    0
country             0
revenue             0
profits             0
assets              0
marketValue         0
dtype: int64

In [9]:
df

,rank,organizationName,country,revenue,profits,assets,marketValue
0,1,JPMorgan Chase,United States,179.93 B,41.8 B,"3,744.3 B",399.59 B
1,2,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,589.47 B,156.36 B,660.99 B,"2,055.22 B"
2,3,ICBC,China,216.77 B,52.47 B,"6,116.82 B",203.01 B
3,4,China Construction Bank,China,203.08 B,48.25 B,"4,977.48 B",172.99 B
4,5,Agricultural Bank of China,China,186.14 B,37.92 B,"5,356.86 B",141.82 B
...,...,...,...,...,...,...,...
2046,"1,996",Alfa Laval,Sweden,5.35 B,489.5 M,7.82 B,15.6 B
2047,"1,996",Gap,United States,15.62 B,-202 M,11.39 B,3.17 B
2048,"1,996",Yes Bank,India,3.34 B,91.6 M,43.22 B,5.6 B
2049,"1,999",BEKB-BCBE,Switzerland,556 M,167.1 M,42.97 B,2.49 B
2050,"1,999",Ipsen,France,3.18 B,681.7 M,5.99 B,10.21 B

In [10]:
# Modifying numerical columns and Converting to correct data types
df['rank'] = df['rank'].str.replace(',', '').astype(int)
for col in ['revenue', 'profits', 'assets', 'marketValue']:
    df[col] = df[col].apply(lambda x: x.replace('B', '').replace('M', '').replace(',', '').strip()).astype('float')
df

,rank,organizationName,country,revenue,profits,assets,marketValue
0,1,JPMorgan Chase,United States,179.93,41.80,3744.30,399.59
1,2,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,589.47,156.36,660.99,2055.22
2,3,ICBC,China,216.77,52.47,6116.82,203.01
3,4,China Construction Bank,China,203.08,48.25,4977.48,172.99
4,5,Agricultural Bank of China,China,186.14,37.92,5356.86,141.82
...,...,...,...,...,...,...,...
2046,1996,Alfa Laval,Sweden,5.35,489.50,7.82,15.60
2047,1996,Gap,United States,15.62,-202.00,11.39,3.17
2048,1996,Yes Bank,India,3.34,91.60,43.22,5.60
2049,1999,BEKB-BCBE,Switzerland,556.00,167.10,42.97,2.49
2050,1999,Ipsen,France,3.18,681.70,5.99,10.21

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2049 entries, 0 to 2050
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rank              2049 non-null   int64
 1   organizationName  2049 non-null   object
 2   country           2049 non-null   object
 3   revenue           2049 non-null   float64
 4   profits           2049 non-null   float64
 5   assets            2049 non-null   float64
 6   marketValue       2049 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 128.1+ KB

In [12]:
# Dropping unused columns
df = df.drop(['rank', 'organizationName'], axis=1)
df

            country  revenue  profits   assets  marketValue
0     United States   179.93    41.80  3744.30       399.59
1      Saudi Arabia   589.47   156.36   660.99      2055.22
2             China   216.77    52.47  6116.82       203.01
3             China   203.08    48.25  4977.48       172.99
4             China   186.14    37.92  5356.86       141.82
...             ...      ...      ...      ...          ...
2046         Sweden     5.35   489.50     7.82        15.60
2047  United States    15.62  -202.00    11.39         3.17
2048          India     3.34    91.60    43.22         5.60
2049    Switzerland   556.00   167.10    42.97         2.49
2050         France     3.18   681.70     5.99        10.21

[2049 rows x 5 columns]

In [13]:
# One-hot encode the nominal feature columns
dummies = pd.get_dummies(df['country'], prefix='country')
df = pd.concat([df, dummies], axis= 1)
df = df.drop(['country'], axis=1)
df

,revenue,profits,assets,marketValue,country_Argentina,country_Australia,country_Austria,country_Belgium,country_Bermuda,country_Brazil,...,country_Sweden,country_Switzerland,country_Taiwan,country_Thailand,country_Turkey,country_United Arab Emirates,country_United Kingdom,country_United States,country_Uruguay,country_Vietnam
0,179.93,41.80,3744.30,399.59,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,589.47,156.36,660.99,2055.22,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,216.77,52.47,6116.82,203.01,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,203.08,48.25,4977.48,172.99,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,186.14,37.92,5356.86,141.82,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046,5.35,489.50,7.82,15.60,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
2047,15.62,-202.00,11.39,3.17,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2048,3.34,91.60,43.22,5.60,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2049,556.00,167.10,42.97,2.49,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2050,3.18,681.70,5.99,10.21,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [14]:
# Split df into X and y
X = df.drop('marketValue', axis=1)
y = df['marketValue']

In [15]:
# Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, shuffle=True, random_state=1)

In [16]:
X_train

,revenue,profits,assets,country_Argentina,country_Australia,country_Austria,country_Belgium,country_Bermuda,country_Brazil,country_Canada,...,country_Sweden,country_Switzerland,country_Taiwan,country_Thailand,country_Turkey,country_United Arab Emirates,country_United Kingdom,country_United States,country_Uruguay,country_Vietnam
1718,7.62,987.40,13.47,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
738,18.93,1.84,24.84,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,108.93,14.50,1886.40,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1258,3.76,888.60,94.63,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1579,2.27,377.20,186.99,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1793,2.09,482.70,35.36,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1098,4.00,1.10,31.10,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1934,2.10,611.70,3.52,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
236,35.94,5.23,59.88,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1063,6.94,1.23,5.75,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [17]:
y_train

1718      7.22
738      12.49
16      142.36
1258      5.95
1579      4.39
         ...
1793      8.45
1098     14.72
1934     12.77
236     132.08
1063     38.51
Name: marketValue, Length: 1434, dtype: float64

In [18]:
# Scale X
scaler = StandardScaler()
scaler.fit(X_train)
X_train = pd.DataFrame(scaler.transform(X_train), index=X_train.index, columns=X_train.columns)
X_test = pd.DataFrame(scaler.transform(X_test), index=X_test.index, columns=X_test.columns)

In [19]:
X_train

,revenue,profits,assets,country_Argentina,country_Australia,country_Austria,country_Belgium,country_Bermuda,country_Brazil,country_Canada,...,country_Sweden,country_Switzerland,country_Taiwan,country_Thailand,country_Turkey,country_United Arab Emirates,country_United Kingdom,country_United States,country_Uruguay,country_Vietnam
1718,-0.322508,2.210694,-0.274852,-0.026417,-0.133203,-0.059152,-0.052889,-0.059152,9.414085,-0.167203,...,-0.109532,-0.130466,-0.155839,-0.095648,-0.074901,-0.0838,-0.192032,-0.652263,-0.026417,-0.052889
738,-0.215185,-0.635591,-0.250334,-0.026417,-0.133203,-0.059152,-0.052889,-0.059152,-0.106224,-0.167203,...,-0.109532,-0.130466,-0.155839,-0.095648,-0.074901,-0.0838,-0.192032,-0.652263,-0.026417,-0.052889
16,0.638848,-0.599029,3.764038,-0.026417,-0.133203,-0.059152,-0.052889,-0.059152,-0.106224,-0.167203,...,-0.109532,-0.130466,-0.155839,-0.095648,-0.074901,-0.0838,-0.192032,1.533123,-0.026417,-0.052889
1258,-0.359137,1.925360,-0.099835,-0.026417,-0.133203,-0.059152,-0.052889,-0.059152,-0.106224,-0.167203,...,-0.109532,-0.130466,-0.155839,-0.095648,-0.074901,-0.0838,-0.192032,-0.652263,-0.026417,-0.052889
1579,-0.373276,0.448444,0.099336,-0.026417,-0.133203,-0.059152,-0.052889,-0.059152,-0.106224,-0.167203,...,-0.109532,-0.130466,-0.155839,-0.095648,-0.074901,-0.0838,-0.192032,-0.652263,-0.026417,-0.052889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1793,-0.374984,0.753126,-0.227648,-0.026417,-0.133203,-0.059152,-0.052889,-0.059152,-0.106224,-0.167203,...,-0.109532,-0.130466,-0.155839,-0.095648,-0.074901,-0.0838,-0.192032,-0.652263,-0.026417,-0.052889
1098,-0.356860,-0.637728,-0.236834,-0.026417,-0.133203,-0.059152,-0.052889,-0.059152,-0.106224,-0.167203,...,-0.109532,-0.130466,-0.155839,-0.095648,-0.074901,-0.0838,-0.192032,-0.652263,-0.026417,-0.052889
1934,-0.374889,1.125677,-0.296309,-0.026417,-0.133203,-0.059152,-0.052889,-0.059152,-0.106224,-0.167203,...,-0.109532,-0.130466,-0.155839,-0.095648,-0.074901,-0.0838,-0.192032,-0.652263,-0.026417,-0.052889
236,-0.053773,-0.625801,-0.174771,-0.026417,-0.133203,-0.059152,-0.052889,-0.059152,-0.106224,-0.167203,...,-0.109532,-0.130466,-0.155839,-0.095648,-0.074901,-0.0838,-0.192032,1.533123,-0.026417,-0.052889
1063,-0.328961,-0.637353,-0.291500,-0.026417,-0.133203,-0.059152,-0.052889,-0.059152,-0.106224,-0.167203,...,-0.109532,-0.130466,-0.155839,-0.095648,-0.074901,-0.0838,-0.192032,1.533123,-0.026417,-0.052889

### Training

In [20]:
inputs = tf.keras.Input(shape=(61,))
x = tf.keras.layers.Dense(128, activation='relu')(inputs)
x = tf.keras.layers.Dense(128, activation='relu')(x)
outputs = tf.keras.layers.Dense(1, activation='linear')(x)

model = tf.keras.Model(inputs=inputs, outputs=outputs)

model.compile(
    optimizer='adam',
    loss = 'mse'
)

history = model.fit(
    X_train, 
    y_train,
    validation_split=0.2,
    batch_size=32,
    epochs=100,
    callbacks=[
        tf.keras.callbacks.EarlyStopping(
            monitor='val_loss',
            patience=3,
            restore_best_weights=True
        )
    ]
)

Epoch 1/100

2025-03-09 11:11:19.980546: I tensorflow/core/common_runtime/process_util.cc:146] Creating new thread pool with default inter op setting: 2. Tune using inter_op_parallelism_threads for best performance.

36/36 [==============================] - 1s 9ms/step - loss: 34235.1875 - val_loss: 13433.0195
Epoch 2/100
36/36 [==============================] - 0s 5ms/step - loss: 32862.5859 - val_loss: 12070.1006
Epoch 3/100
36/36 [==============================] - 0s 3ms/step - loss: 30256.2656 - val_loss: 11063.9150
Epoch 4/100
36/36 [==============================] - 0s 3ms/step - loss: 28758.4629 - val_loss: 10713.5225
Epoch 5/100
36/36 [==============================] - 0s 3ms/step - loss: 27719.7363 - val_loss: 10444.5283
Epoch 6/100
36/36 [==============================] - 0s 3ms/step - loss: 26987.8164 - val_loss: 10228.9395
Epoch 7/100
36/36 [==============================] - 0s 4ms/step - loss: 26378.9238 - val_loss: 10012.1426
Epoch 8/100
36/36 [==============================] - 0s 3ms/step - loss: 25859.1191 - val_loss: 9859.1553
Epoch 9/100
36/36 [==============================] - 0s 3ms/step - loss: 25283.8770 - val_loss: 9865.6270
Epoch 10/100
36/36 [==============================] - 0s 3ms/step - loss: 24913.5371 - val_loss: 9786.5430
Epoch 11/100
36/36 [==============================] - 0s 3ms/step - loss: 24488.3242 - val_loss: 9797.2656
Epoch 12/100
36/36 [==============================] - 0s 6ms/step - loss: 24159.8867 - val_loss: 9846.0303
Epoch 13/100
36/36 [==============================] - 0s 5ms/step - loss: 23943.4531 - val_loss: 9874.0479

### Results

In [21]:
y_pred = np.squeeze(model.predict(X_test))
y_pred

20/20 [==============================] - 0s 2ms/step

array([ 4.30540428e+01,  8.47149963e+01,  4.35037766e+01,  1.23080490e+02,
        1.10861473e+02,  2.46952763e+01,  3.24130898e+01,  1.26840391e+01,
        7.69616623e+01,  1.67255554e+01,  4.07580414e+01,  6.66974030e+01,
        5.10361633e+01,  8.53139801e+01,  5.48616943e+01,  9.54988174e+01,
        3.57635078e+01,  1.06282797e+01,  5.95956497e+01,  1.04352293e+01,
        2.26722260e+02,  5.56272621e+01,  2.80481529e+01,  4.93739853e+01,
        1.04293503e+02,  2.67971497e+01,  6.72802811e+01,  7.74808273e+01,
        4.81857300e+01,  5.41150856e+01,  2.44541969e+01,  1.87779312e+01,
        3.78569756e+01,  2.27705269e+01,  1.70983715e+01,  7.97764397e+00,
        1.72247696e+02,  1.99783363e+01,  2.69243107e+01,  7.06138992e+01,
        9.48235512e+00,  1.12860382e+02,  7.89486542e+01,  4.23209534e+01,
        5.16139565e+01,  7.01233215e+01,  5.29865608e+01,  2.04170475e+01,
        5.01685600e+01,  3.83889351e+01,  2.13459263e+01,  7.45340805e+01,
        3.02484665e+01,  3.59345627e+01,  7.71311569e+01,  3.43133774e+01,
        5.51128006e+01, -1.21898687e+00, -3.05367446e+00,  3.81768036e+01,
        2.29940395e+01,  7.42868576e+01,  7.18017120e+01,  1.03325386e+02,
        5.73750305e+01,  4.41852417e+01,  3.34664879e+01,  1.20728140e+01,
        1.48765688e+01,  9.57913589e+01,  3.86600723e+01,  3.88290901e+01,
        1.71011505e+01,  3.74670258e+01,  9.41671371e+00,  5.36435165e+01,
        8.45003986e+00,  3.46906067e+02,  7.72835770e+01,  9.74175034e+01,
        7.06863213e+00,  1.05556221e+01,  5.54079971e+01,  3.28877487e+01,
        7.08078842e+01,  2.24632053e+01,  6.81918411e+01,  2.99645786e+01,
        4.31833115e+01,  1.34163408e+01,  7.67606583e+01,  2.86674995e+01,
        5.32023697e+01,  1.40565140e+02,  6.11732254e+01,  6.77695236e+01,
        3.11465282e+01,  4.25497665e+01,  2.48813324e+01, -5.32890111e-02,
        2.49118958e+01,  2.80552711e+01,  3.42310677e+01,  6.05044317e+00,
        1.74770432e+01,  6.51128626e+00,  7.42370300e+01,  4.00092773e+01,
        1.19460020e+01,  5.33485565e+01,  8.14725571e+01,  6.34817421e-01,
        3.02284508e+01,  4.03969116e+01,  2.19984074e+01,  4.52905083e+00,
        2.40365753e+01,  9.86662445e+01,  2.82934875e+01,  8.35214310e+01,
        1.84322894e+00,  4.12548523e+01,  2.82703514e+01,  1.31734390e+01,
        9.09306259e+01,  6.92596960e+00,  3.23300400e+01,  4.29693939e+02,
        1.00569099e+02,  8.48965931e+00,  2.48535118e+01,  4.92732239e+00,
        3.53896332e+01,  1.66815910e+01,  9.54527283e+01,  5.84993458e+00,
        2.33197746e+01,  1.04286446e+02,  5.82250183e+02,  5.28112946e+01,
        1.15473892e+02,  8.76951370e+01,  3.41517878e+00,  7.08518143e+01,
        4.19321594e+01,  1.38347748e+02,  7.16639175e+01,  2.65498676e+01,
        1.86762894e+02,  7.11970749e+01,  9.24717636e+01,  1.31560547e+02,
        8.92933559e+00,  4.69793797e+00,  1.11619587e+01,  4.07907104e+01,
        4.38563843e+01,  4.32065308e-01,  5.53832550e+01,  7.50451889e+01,
        1.38701878e+01,  1.61404434e+02,  1.58846750e+01,  1.62741661e+01,
        2.88770771e+01,  7.07028198e+01,  3.03470802e+01,  3.70231895e+01,
        4.45023956e+01,  3.71429482e+01,  6.31403656e+01,  6.92015686e+01,
        7.96366348e+01,  3.83804932e+01,  2.02128124e+01,  8.96187842e-01,
        4.65778961e+01,  3.48106995e+01,  7.26829300e+01,  5.06818695e+01,
        2.85448151e+02,  1.97284851e+01,  7.53734665e+01,  2.71455002e+01,
        8.88406467e+00,  6.57394104e+01,  3.76426201e+01, -3.96156001e+00,
        7.55126572e+01,  1.86272259e+01,  5.10525131e+00,  5.49905624e+01,
        3.57516289e+01,  3.53201065e+01,  5.96624985e+01,  5.54352570e+01,
        7.31753006e+01,  2.67365284e+01,  4.87761612e+01,  4.96164589e+01,
        7.51383133e+01,  8.60250397e+01,  7.44871597e+01,  7.61982040e+01,
        7.81315079e+01,  4.90354424e+01,  7.41041641e+01,  1.46670971e+01,
        8.17119980e+01,  6.85025864e+01,  4.10780182e+01,  1.31878845e+02,
        4.06003189e+01,  4.07748642e+01,  3.84027457e+00,  5.05643387e+01,
        4.17381363e+01,  1.69706306e+01,  3.11408730e+01,  9.77332840e+01,
        7.69080429e+01,  2.75765495e+01,  5.10276031e+01,  3.28598633e+02,
        5.12387161e+01,  7.52185287e+01,  3.79312592e+01,  3.91267792e+02,
        3.62385979e+01,  7.68291702e+01,  4.45570335e+01,  6.91246872e+01,
        6.56127090e+01,  1.90139694e+01,  1.69439148e+02,  3.34436493e+01,
        4.80337830e+01,  7.40241318e+01,  6.54614401e+00,  2.42841034e+01,
        3.85548096e+01,  6.18717003e+01,  3.40608788e+01,  3.74986725e+01,
        2.98023868e+00,  6.79532394e+01,  1.20792942e+01,  4.27190933e+01,
        7.71827927e+01,  3.31682053e+01,  7.13233261e+01,  4.29900246e+01,
        1.54729929e+01,  3.13195419e+00,  1.02600794e+01,  2.25457954e+01,
        1.96695175e+02,  7.41133118e+00,  2.16415253e+01,  1.62155628e+01,
        8.53017197e+01,  7.44920502e+01,  5.72977066e+00,  1.86717758e+01,
        1.89749355e+01,  1.07041779e+01,  2.36948986e+01,  5.39835968e+01,
        3.04790993e+01,  5.03800964e+01,  7.37667999e+01,  2.44977760e+01,
        1.39513107e+02,  9.34190464e+00, -8.38242531e-01,  5.60570679e+02,
        4.23101349e+01,  3.98440094e+01,  6.81918411e+01,  4.24724007e+01,
        7.56133881e+01,  5.24307404e+01,  1.00769320e+01,  7.43668747e+01,
        1.49304953e+01,  7.89149551e+01, -1.40350461e+00,  3.13891315e+01,
        4.58195877e+01, -1.12410831e+00,  1.24835442e+02,  5.93735199e+01,
        4.79690742e+01,  4.48701973e+01, -1.98576188e+00,  3.56197929e+01,
        1.29180313e+02,  2.59457626e+01,  1.36306961e+02,  1.93034637e+02,
        2.02911606e+01,  7.62914581e+01,  1.07897255e+02,  7.36621704e+01,
        2.48952179e+01,  4.02873497e+01,  8.11931992e+01,  3.56274757e+01,
        1.52632542e+01,  2.23319607e+01,  9.74731522e+01,  3.61764908e+01,
        7.28630600e+01,  4.96948967e+01,  9.24717636e+01,  1.76158676e+01,
        9.37880325e+01,  2.85418854e+02,  1.00825256e+02,  5.34434357e+01,
        6.79992599e+01,  5.28692055e+01,  7.67627335e+01,  7.44027786e+01,
        8.45474472e+01,  7.43834763e+01,  2.19043083e+01,  1.27134886e+01,
        5.02374916e+01,  1.73835587e+02,  1.32071762e+02,  5.19223452e+00,
        4.50320435e+01,  8.65810547e+01,  1.12668198e+02,  2.66350498e+01,
        8.23854542e+00,  1.54833231e+01,  9.20032978e+00,  2.70307884e+01,
        6.87592087e+01,  1.72181129e+01,  1.73913765e+01,  3.55950851e+01,
        1.02943024e+02,  3.91101885e+00,  2.57687263e+01,  5.19961548e+01,
        2.49854546e+01,  9.27326660e+01,  7.76582623e+00,  5.09774506e+02,
        4.59709358e+01,  4.89231911e+01,  7.22246475e+01,  6.78272171e+01,
        6.26917801e+01,  3.65331612e+01,  3.13486557e+01,  3.47664375e+01,
        9.14961624e+00,  2.56074005e+02,  1.13667288e+01,  3.68325272e+01,
        2.98162750e+02,  2.84648457e+01,  4.65405512e+00,  1.18369570e+01,
        2.37168961e+01,  6.89091492e+01,  2.12862053e+01,  7.01892776e+01,
        1.08854324e+02,  7.03906326e+01,  1.54729950e+02,  8.02171040e+00,
        2.91921425e+01,  3.84915619e+01,  2.26109810e+01,  9.25744781e+01,
        2.38063889e+01,  7.60259323e+01,  3.16285934e+01,  4.66889687e+01,
        7.35428429e+00,  7.98430557e+01,  2.99411488e+01,  1.44839830e+01,
        5.28758430e+00,  3.72062531e+01,  1.14386415e+01,  3.12304764e+01,
        2.59827309e+01,  8.82852459e+00,  2.98162750e+02,  3.13315125e+01,
        5.28244858e+01,  4.02330475e+01,  9.63766937e+01,  7.30135117e+01,
        8.94042492e+00,  4.02492981e+01,  7.35966873e+01,  1.96695175e+02,
        5.36015244e+01,  4.20908165e+01,  2.67639217e+01,  3.14234428e+01,
        1.03276987e+01,  3.19573116e+01,  2.53300838e+01,  1.48191748e+01,
        2.80193424e+01,  2.55639267e+01,  3.17559128e+01, -1.55153668e+00,
        2.03963737e+01,  5.81187210e+01,  2.64935837e+01,  8.37625656e+01,
        4.18361435e+01,  2.02217903e+01,  7.85099564e+01,  5.41159058e+01,
        3.31039963e+01,  7.76171951e+01,  7.73062134e+01,  2.91042519e+01,
        2.32622910e+00,  1.02034691e+02,  1.89310318e+02,  1.46271811e+01,
        1.07866531e+02,  1.02163820e+01,  2.43434944e+01,  6.29483337e+01,
        1.06078073e-01,  1.50403948e+01,  4.46685104e+01,  4.60131195e+02,
        2.28932972e+01,  7.05223160e+01,  7.86407173e-01,  4.45799713e+01,
        1.21260429e+02,  2.38526917e+01,  2.91373138e+01,  1.57141409e+01,
        3.68452519e-02,  3.58906860e+01,  3.61188545e+01,  5.01563797e+01,
        1.76636276e+01,  6.95428925e+01,  2.58328438e+01,  3.08741821e+02,
        1.33679247e+01,  3.11118011e+01,  5.31031990e+01,  2.09369621e+01,
        3.30768242e+01,  1.93024635e+01,  5.46308708e+00,  1.77681107e+02,
        2.32635937e+01,  3.25418777e+01,  4.56340942e+01,  1.98730835e+02,
        6.92034760e+01,  4.37546196e+01,  4.52990723e+01,  9.38458061e+00,
        4.11942520e+01,  1.34130951e+02,  2.64803638e+01,  3.90999680e+01,
        4.24896660e+01,  5.95137310e+00,  1.02318983e+01,  8.33538437e+01,
        2.51236420e+01,  4.80117416e+01,  2.92181183e+02,  4.84715347e+01,
        8.88663254e+01,  5.49072876e+01,  1.39876816e+02,  4.53678703e+01,
        3.59286804e+01,  8.73297596e+00,  8.45706253e+01,  4.92754898e+01,
        1.97677479e+01,  4.15518990e+01,  1.51088934e+01,  1.07885847e+01,
        1.67609390e+02,  4.72365227e+01,  6.28548698e+01,  4.31063347e+01,
        3.70273819e+01,  3.81864014e+01,  5.34800758e+01,  7.03520889e+01,
        1.89009132e+01,  2.55477257e+01,  1.24143776e+02,  2.18981056e+01,
        1.07971840e+01,  4.17849960e+01,  2.88057327e+01,  2.70482197e+01,
        1.34130951e+02,  2.32391834e+01,  4.28289986e+01,  7.98526154e+01,
        8.67171860e+01,  3.13778076e+01,  1.66446838e+01,  5.71333580e+01,
        7.85734329e+01,  4.10842400e+01,  3.34501534e+01,  2.55141449e+01,
        2.32006054e+01,  9.97899628e+01,  2.75879974e+01,  5.86097565e+01,
        1.78507957e+01,  3.94828987e+01,  7.63468094e+01,  4.73919716e+01,
        1.75997314e+01,  4.78151016e+01,  3.85475082e+01,  1.39189825e+01,
        2.19535065e+01,  7.09330978e+01,  5.05126686e+01,  9.44608536e+01,
        2.38890266e+01,  4.39176941e+01,  2.53666611e+02,  1.86762894e+02,
        5.08594513e+01,  8.86968155e+01,  2.78788300e+01,  5.56444778e+01,
        2.77200470e+01,  4.25710526e+01,  9.38689804e+01,  7.35884933e+01,
        6.95596237e+01,  2.74804745e+01,  6.95212631e+01,  8.97004032e+00,
        1.78922749e+01,  1.49035273e+01,  1.60117172e+02,  3.06173286e+01,
        3.63360367e+01,  4.92677841e+01,  1.55594120e+01,  1.97772655e+01,
        2.64939606e+02,  2.28185329e+01,  3.95655990e+00,  1.02653557e+02,
        8.33050919e+01,  7.61883163e+01,  4.41358185e+01,  7.52861099e+01,
        4.13704910e+01,  3.84999207e+02,  1.04458450e+02,  5.56441284e+02,
        6.59561462e+01,  3.74347916e+01,  1.42320602e+02,  2.94766769e+01,
        3.48705902e+01,  2.97150631e+01,  4.76005402e+01,  2.22403564e+01,
        2.46216858e+02,  7.67624741e+01,  3.70045135e+02,  7.13040085e+01,
        7.71012039e+01,  4.33092842e+01,  4.28607368e+00,  4.21908989e+01,
        5.81776314e+01,  4.13157005e+01,  1.31564636e+01,  4.79466629e+01,
        1.18552809e+01,  1.08935909e+01,  4.74604530e+01,  7.67490101e+00,
        4.11736725e+02,  1.56322145e+01,  7.82524872e+01,  1.08508530e+01,
        1.06495228e+01,  5.78478909e+00,  1.07789841e+01,  9.35431519e+01,
        3.97005386e+01,  4.45812073e+01,  1.43424597e+01,  2.50511131e+01,
        6.23909426e+00,  2.35205650e+01,  8.69586716e+01], dtype=float32)

In [22]:
y_test

404      38.60
352     122.91
677      25.43
103      51.58
182      47.07
         ...
1002     38.32
1512      6.58
1827      5.03
1398      8.47
287      67.85
Name: marketValue, Length: 615, dtype: float64

In [23]:
rmse = np.sqrt(np.mean((y_test - y_pred)**2))
rmse

184.098185357547

In [24]:
y_test.describe()

count     615.000000
mean       61.911951
std       196.702525
min         1.020000
25%         8.345000
50%        17.070000
75%        38.295000
max      2309.840000
Name: marketValue, dtype: float64

In [25]:
## R2 score calculation
np.sum((y_test - y_pred)**2)

20843667.238944165

In [26]:
np.sum((y_test - y_test.mean())**2)

23756816.26685854

In [27]:
r2_score = 1 - (np.sum((y_test - y_pred)**2) / np.sum((y_test - y_test.mean())**2))
r2_score

0.12262371334572741

In [29]:
print("RMSE: {:.2f}".format(rmse))
print("R-Squared: {:.4f}".format(r2_score))

fig = px.scatter(
    x=y_pred,
    y=y_test,
    labels={'x': 'Predicted', 'y': 'Actual'},
    title='Actual vs Predicted Values',
    width = 700,
    height = 700
)
fig.show()

RMSE: 184.10
R-Squared: 0.1226