## Predicting Direct Marketing Effectiveness

Given *data about bank customers*, we need to predict if for a given customer, bank marketing technique was effective or not.

We will be using Logistic Regression to make our predictions.

Data source: https://www.kaggle.com/datasets/psvishnu/bank-direct-marketing

### Importing Libraries

In [1]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression

In [2]:
data = pd.read_csv("bank-full.csv", delimiter=";")
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

### Preprocessing

In [4]:
df = data.copy()

In [5]:
y = df['y']
X = df.drop('y', axis=1)

In [6]:
def get_categorical_features(df):
    return [feature for feature in df.columns if df[feature].dtype == 'object']

In [7]:
get_categorical_features(X)

['job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'poutcome']

In [8]:
def get_uniques(df, columns):
    return {column: df[column].unique() for column in columns}

In [9]:
get_uniques(X, X.columns)

{'age': array([58, 44, 33, 47, 35, 28, 42, 43, 41, 29, 53, 57, 51, 45, 60, 56, 32,
        25, 40, 39, 52, 46, 36, 49, 59, 37, 50, 54, 55, 48, 24, 38, 31, 30,
        27, 34, 23, 26, 61, 22, 21, 20, 66, 62, 83, 75, 67, 70, 65, 68, 64,
        69, 72, 71, 19, 76, 85, 63, 90, 82, 73, 74, 78, 80, 94, 79, 77, 86,
        95, 81, 18, 89, 84, 87, 92, 93, 88]),
 'job': array(['management', 'technician', 'entrepreneur', 'blue-collar',
        'unknown', 'retired', 'admin.', 'services', 'self-employed',
        'unemployed', 'housemaid', 'student'], dtype=object),
 'marital': array(['married', 'single', 'divorced'], dtype=object),
 'education': array(['tertiary', 'secondary', 'unknown', 'primary'], dtype=object),
 'default': array(['no', 'yes'], dtype=object),
 'balance': array([ 2143,    29,     2, ...,  8205, 14204, 16353]),
 'housing': array(['yes', 'no'], dtype=object),
 'loan': array(['no', 'yes'], dtype=object),
 'contact': array(['unknown', 'cellular', 'telephone'], dtype=object),
 'day': array([ 5,  6,  7,  8,  9, 12, 13, 14, 15, 16, 19, 20, 21, 23, 26, 27, 28,
        29, 30,  2,  3,  4, 11, 17, 18, 24, 25,  1, 10, 22, 31]),
 'month': array(['may', 'jun', 'jul', 'aug', 'oct', 'nov', 'dec', 'jan', 'feb',
        'mar', 'apr', 'sep'], dtype=object),
 'duration': array([ 261,  151,   76, ..., 1298, 1246, 1556]),
 'campaign': array([ 1,  2,  3,  5,  4,  6,  7,  8,  9, 10, 11, 12, 13, 19, 14, 24, 16,
        32, 18, 22, 15, 17, 25, 21, 43, 51, 63, 41, 26, 28, 55, 50, 38, 23,
        20, 29, 31, 37, 30, 46, 27, 58, 33, 35, 34, 36, 39, 44]),
 'pdays': array([ -1, 151, 166,  91,  86, 143, 147,  89, 140, 176, 101, 174, 170,
        167, 195, 165, 129, 188, 196, 172, 118, 119, 104, 171, 117, 164,
        132, 131, 123, 159, 186, 111, 115, 116, 173, 178, 110, 152,  96,
        103, 150, 175, 193, 181, 185, 154, 145, 138, 126, 180, 109, 158,
        168,  97, 182, 127, 130, 194, 125, 105, 102,  26, 179,  28, 183,
        155, 112, 120, 137, 124, 187, 190, 113, 162, 134, 169, 189,   8,
        144, 191, 184, 177,   5,  99, 133,  93,  92,  10, 100, 156, 198,
        106, 153, 146, 128,   7, 121, 160, 107,  90,  27, 197, 136, 139,
        122, 157, 149, 135,  30, 114,  98, 192, 163,  34,  95, 141,  31,
        199,  94, 108,  29, 268, 247, 253, 226, 244, 239, 245, 204, 231,
        238, 258, 230, 254, 265,  71, 223, 246, 250, 266, 240, 205, 261,
        259, 241, 260, 234, 251, 225, 161, 237, 262, 248, 255, 220, 227,
        206, 224, 249, 235, 228, 263,   2, 270, 232, 252, 207, 200, 269,
        233, 256, 273, 272, 242, 264, 208, 214, 222, 271, 203, 221, 202,
        216, 201, 257, 229, 210, 217,  75, 213,  73,  76, 267, 211, 215,
         77, 236,  82,   6, 209, 274,   1, 243, 212, 275,  80, 276,   9,
        279,  12, 280,  88, 277,  85,  84, 219,  24,  21, 282,  41, 294,
         49, 329, 307, 303, 331, 308, 300,  64, 314, 287, 330, 332, 302,
        323, 318, 333,  60, 326, 335, 313, 312, 305, 325, 327, 336, 309,
        328, 322,  39, 316, 292, 295, 310, 306, 320, 317, 289,  57, 321,
        142, 339, 301, 315, 337, 334, 340, 319,  17,  74, 148, 341, 299,
        344, 342, 324, 345, 346, 304, 281, 343, 338,  14, 347,  15, 291,
        348, 349, 285, 350, 284,  25, 283, 278,  81,   4,  87,  83,  79,
         70,  13, 293,  37,  78,  63,  22, 296, 355,  66,  19,  35, 360,
        357, 354, 351, 362, 358, 365, 298, 286, 364, 363,  47, 361, 288,
        366, 356, 352, 359, 297, 367, 353, 368,  42, 290,  67, 371, 370,
        369,  50,  36, 373, 374, 372, 311, 375, 378,  59, 379,  40,  18,
         43,  20,  69,  38, 385,  56,  55,  44, 391,  72, 390,  32,  62,
        399, 393,  65, 377, 395, 388, 389, 386,  61, 412, 405, 434, 394,
        382, 459, 440, 397, 383,  68, 461, 462, 463, 422,  51, 457, 430,
        442, 403, 454, 428, 392, 410, 401, 474, 475, 477, 478,  54, 476,
        380, 479,  45,  46, 495,  58,  48, 518,  52, 515, 520, 511, 536,
        387, 218,  33, 544, 435, 436, 555, 433, 446, 558, 469, 616, 561,
        553, 384, 592, 467, 585, 480, 421, 667, 626, 426, 595, 381, 376,
        648, 521, 452, 449, 633, 398,  53, 460, 670, 551, 414, 557, 687,
        404, 651, 686, 425, 504, 578, 674, 416, 586, 411, 756, 450, 745,
        514, 417, 424, 776, 396, 683, 529, 439, 415, 456, 407, 458, 532,
        481, 791, 701, 531, 792, 413, 445, 535, 784, 419, 455, 491, 431,
        542, 470, 472, 717, 437,   3, 782, 728, 828, 524, 562, 761, 492,
        775, 579, 493, 464, 760, 466, 465, 656, 831, 490, 432, 655, 427,
        749, 838, 769, 587, 778, 854, 779, 850, 771, 594, 842, 589, 603,
        484, 489, 486, 409, 444, 680, 808, 485, 503, 690, 772, 774, 526,
        420, 528, 500, 826, 804, 508, 547, 805, 541, 543, 871, 550, 530]),
 'previous': array([  0,   3,   1,   4,   2,  11,  16,   6,   5,  10,  12,   7,  18,
          9,  21,   8,  14,  15,  26,  37,  13,  25,  20,  27,  17,  23,
         38,  29,  24,  51, 275,  22,  19,  30,  58,  28,  32,  40,  55,
         35,  41]),
 'poutcome': array(['unknown', 'failure', 'other', 'success'], dtype=object)}

In [10]:
X = X.replace('unknown', np.NaN)
X

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58,management,married,tertiary,no,2143,yes,no,NaN,5,may,261,1,-1,0,NaN
1,44,technician,single,secondary,no,29,yes,no,NaN,5,may,151,1,-1,0,NaN
2,33,entrepreneur,married,secondary,no,2,yes,yes,NaN,5,may,76,1,-1,0,NaN
3,47,blue-collar,married,NaN,no,1506,yes,no,NaN,5,may,92,1,-1,0,NaN
4,33,NaN,single,NaN,no,1,no,no,NaN,5,may,198,1,-1,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,NaN
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,NaN
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,NaN
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other

In [11]:
X.isna().sum()

age              0
job            288
marital          0
education     1857
default          0
balance          0
housing          0
loan             0
contact      13020
day              0
month            0
duration         0
campaign         0
pdays            0
previous         0
poutcome     36959
dtype: int64

In [12]:
X = X.drop('poutcome', axis=1)
X

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous
0,58,management,married,tertiary,no,2143,yes,no,NaN,5,may,261,1,-1,0
1,44,technician,single,secondary,no,29,yes,no,NaN,5,may,151,1,-1,0
2,33,entrepreneur,married,secondary,no,2,yes,yes,NaN,5,may,76,1,-1,0
3,47,blue-collar,married,NaN,no,1506,yes,no,NaN,5,may,92,1,-1,0
4,33,NaN,single,NaN,no,1,no,no,NaN,5,may,198,1,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11

In [13]:
get_uniques(X, X.columns)

{'age': array([58, 44, 33, 47, 35, 28, 42, 43, 41, 29, 53, 57, 51, 45, 60, 56, 32,
        25, 40, 39, 52, 46, 36, 49, 59, 37, 50, 54, 55, 48, 24, 38, 31, 30,
        27, 34, 23, 26, 61, 22, 21, 20, 66, 62, 83, 75, 67, 70, 65, 68, 64,
        69, 72, 71, 19, 76, 85, 63, 90, 82, 73, 74, 78, 80, 94, 79, 77, 86,
        95, 81, 18, 89, 84, 87, 92, 93, 88]),
 'job': array(['management', 'technician', 'entrepreneur', 'blue-collar', nan,
        'retired', 'admin.', 'services', 'self-employed', 'unemployed',
        'housemaid', 'student'], dtype=object),
 'marital': array(['married', 'single', 'divorced'], dtype=object),
 'education': array(['tertiary', 'secondary', nan, 'primary'], dtype=object),
 'default': array(['no', 'yes'], dtype=object),
 'balance': array([ 2143,    29,     2, ...,  8205, 14204, 16353]),
 'housing': array(['yes', 'no'], dtype=object),
 'loan': array(['no', 'yes'], dtype=object),
 'contact': array([nan, 'cellular', 'telephone'], dtype=object),
 'day': array([ 5,  6,  7,  8,  9, 12, 13, 14, 15, 16, 19, 20, 21, 23, 26, 27, 28,
        29, 30,  2,  3,  4, 11, 17, 18, 24, 25,  1, 10, 22, 31]),
 'month': array(['may', 'jun', 'jul', 'aug', 'oct', 'nov', 'dec', 'jan', 'feb',
        'mar', 'apr', 'sep'], dtype=object),
 'duration': array([ 261,  151,   76, ..., 1298, 1246, 1556]),
 'campaign': array([ 1,  2,  3,  5,  4,  6,  7,  8,  9, 10, 11, 12, 13, 19, 14, 24, 16,
        32, 18, 22, 15, 17, 25, 21, 43, 51, 63, 41, 26, 28, 55, 50, 38, 23,
        20, 29, 31, 37, 30, 46, 27, 58, 33, 35, 34, 36, 39, 44]),
 'pdays': array([ -1, 151, 166,  91,  86, 143, 147,  89, 140, 176, 101, 174, 170,
        167, 195, 165, 129, 188, 196, 172, 118, 119, 104, 171, 117, 164,
        132, 131, 123, 159, 186, 111, 115, 116, 173, 178, 110, 152,  96,
        103, 150, 175, 193, 181, 185, 154, 145, 138, 126, 180, 109, 158,
        168,  97, 182, 127, 130, 194, 125, 105, 102,  26, 179,  28, 183,
        155, 112, 120, 137, 124, 187, 190, 113, 162, 134, 169, 189,   8,
        144, 191, 184, 177,   5,  99, 133,  93,  92,  10, 100, 156, 198,
        106, 153, 146, 128,   7, 121, 160, 107,  90,  27, 197, 136, 139,
        122, 157, 149, 135,  30, 114,  98, 192, 163,  34,  95, 141,  31,
        199,  94, 108,  29, 268, 247, 253, 226, 244, 239, 245, 204, 231,
        238, 258, 230, 254, 265,  71, 223, 246, 250, 266, 240, 205, 261,
        259, 241, 260, 234, 251, 225, 161, 237, 262, 248, 255, 220, 227,
        206, 224, 249, 235, 228, 263,   2, 270, 232, 252, 207, 200, 269,
        233, 256, 273, 272, 242, 264, 208, 214, 222, 271, 203, 221, 202,
        216, 201, 257, 229, 210, 217,  75, 213,  73,  76, 267, 211, 215,
         77, 236,  82,   6, 209, 274,   1, 243, 212, 275,  80, 276,   9,
        279,  12, 280,  88, 277,  85,  84, 219,  24,  21, 282,  41, 294,
         49, 329, 307, 303, 331, 308, 300,  64, 314, 287, 330, 332, 302,
        323, 318, 333,  60, 326, 335, 313, 312, 305, 325, 327, 336, 309,
        328, 322,  39, 316, 292, 295, 310, 306, 320, 317, 289,  57, 321,
        142, 339, 301, 315, 337, 334, 340, 319,  17,  74, 148, 341, 299,
        344, 342, 324, 345, 346, 304, 281, 343, 338,  14, 347,  15, 291,
        348, 349, 285, 350, 284,  25, 283, 278,  81,   4,  87,  83,  79,
         70,  13, 293,  37,  78,  63,  22, 296, 355,  66,  19,  35, 360,
        357, 354, 351, 362, 358, 365, 298, 286, 364, 363,  47, 361, 288,
        366, 356, 352, 359, 297, 367, 353, 368,  42, 290,  67, 371, 370,
        369,  50,  36, 373, 374, 372, 311, 375, 378,  59, 379,  40,  18,
         43,  20,  69,  38, 385,  56,  55,  44, 391,  72, 390,  32,  62,
        399, 393,  65, 377, 395, 388, 389, 386,  61, 412, 405, 434, 394,
        382, 459, 440, 397, 383,  68, 461, 462, 463, 422,  51, 457, 430,
        442, 403, 454, 428, 392, 410, 401, 474, 475, 477, 478,  54, 476,
        380, 479,  45,  46, 495,  58,  48, 518,  52, 515, 520, 511, 536,
        387, 218,  33, 544, 435, 436, 555, 433, 446, 558, 469, 616, 561,
        553, 384, 592, 467, 585, 480, 421, 667, 626, 426, 595, 381, 376,
        648, 521, 452, 449, 633, 398,  53, 460, 670, 551, 414, 557, 687,
        404, 651, 686, 425, 504, 578, 674, 416, 586, 411, 756, 450, 745,
        514, 417, 424, 776, 396, 683, 529, 439, 415, 456, 407, 458, 532,
        481, 791, 701, 531, 792, 413, 445, 535, 784, 419, 455, 491, 431,
        542, 470, 472, 717, 437,   3, 782, 728, 828, 524, 562, 761, 492,
        775, 579, 493, 464, 760, 466, 465, 656, 831, 490, 432, 655, 427,
        749, 838, 769, 587, 778, 854, 779, 850, 771, 594, 842, 589, 603,
        484, 489, 486, 409, 444, 680, 808, 485, 503, 690, 772, 774, 526,
        420, 528, 500, 826, 804, 508, 547, 805, 541, 543, 871, 550, 530]),
 'previous': array([  0,   3,   1,   4,   2,  11,  16,   6,   5,  10,  12,   7,  18,
          9,  21,   8,  14,  15,  26,  37,  13,  25,  20,  27,  17,  23,
         38,  29,  24,  51, 275,  22,  19,  30,  58,  28,  32,  40,  55,
         35,  41])}

In [14]:
binary_features = ['default', 'loan', 'housing']

ordinal_features = ['education', 'month']

nominal_features = ['job', 'marital', 'contact']

In [15]:
def binary_encode(df, columns, positive_label):
    df = df.copy()
    for column in columns:
        df[column] = df[column].apply(lambda x: 1 if x == positive_label else 0)
    return df

In [16]:
X = binary_encode(X, binary_features, 'yes')
X

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous
0,58,management,married,tertiary,0,2143,1,0,NaN,5,may,261,1,-1,0
1,44,technician,single,secondary,0,29,1,0,NaN,5,may,151,1,-1,0
2,33,entrepreneur,married,secondary,0,2,1,1,NaN,5,may,76,1,-1,0
3,47,blue-collar,married,NaN,0,1506,1,0,NaN,5,may,92,1,-1,0
4,33,NaN,single,NaN,0,1,0,0,NaN,5,may,198,1,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,0,825,0,0,cellular,17,nov,977,3,-1,0
45207,71,retired,divorced,primary,0,1729,0,0,cellular,17,nov,456,2,-1,0
45208,72,retired,married,secondary,0,5715,0,0,cellular,17,nov,1127,5,184,3
45209,57,blue-collar,married,secondary,0,668,0,0,telephone,17,nov,508,4,-1,0
45210,37,entrepreneur,married,secondary,0,2971,0,0,cellular,17,nov,361,2,188,11

In [17]:
education_ordering = ['primary', 'secondary', 'tertiary']
month_ordering = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']

In [18]:
def ordinal_encode(df, columns, orderings):
    df = df.copy()
    for column, ordering in zip(columns, orderings):
        df[column] = df[column].apply(lambda x: ordering.index(x) if str(x) != 'nan' else x)
    return df

In [19]:
orderings = [education_ordering, month_ordering]

X = ordinal_encode(X, ordinal_features, orderings)

In [20]:
X

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous
0,58,management,married,2.0,0,2143,1,0,NaN,5,4,261,1,-1,0
1,44,technician,single,1.0,0,29,1,0,NaN,5,4,151,1,-1,0
2,33,entrepreneur,married,1.0,0,2,1,1,NaN,5,4,76,1,-1,0
3,47,blue-collar,married,NaN,0,1506,1,0,NaN,5,4,92,1,-1,0
4,33,NaN,single,NaN,0,1,0,0,NaN,5,4,198,1,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,2.0,0,825,0,0,cellular,17,10,977,3,-1,0
45207,71,retired,divorced,0.0,0,1729,0,0,cellular,17,10,456,2,-1,0
45208,72,retired,married,1.0,0,5715,0,0,cellular,17,10,1127,5,184,3
45209,57,blue-collar,married,1.0,0,668,0,0,telephone,17,10,508,4,-1,0
45210,37,entrepreneur,married,1.0,0,2971,0,0,cellular,17,10,361,2,188,11

In [21]:
def onehot_encode(df, columns):
    for column in columns:
        dummies = pd.get_dummies(df[column], prefix=column, dtype=int)
        df = pd.concat([df, dummies], axis=1)
        df = df.drop(column, axis=1)
    return df

In [22]:
X = onehot_encode(X, nominal_features)
X

,age,education,default,balance,housing,loan,day,month,duration,campaign,...,job_self-employed,job_services,job_student,job_technician,job_unemployed,marital_divorced,marital_married,marital_single,contact_cellular,contact_telephone
0,58,2.0,0,2143,1,0,5,4,261,1,...,0,0,0,0,0,0,1,0,0,0
1,44,1.0,0,29,1,0,5,4,151,1,...,0,0,0,1,0,0,0,1,0,0
2,33,1.0,0,2,1,1,5,4,76,1,...,0,0,0,0,0,0,1,0,0,0
3,47,NaN,0,1506,1,0,5,4,92,1,...,0,0,0,0,0,0,1,0,0,0
4,33,NaN,0,1,0,0,5,4,198,1,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,2.0,0,825,0,0,17,10,977,3,...,0,0,0,1,0,0,1,0,1,0
45207,71,0.0,0,1729,0,0,17,10,456,2,...,0,0,0,0,0,1,0,0,1,0
45208,72,1.0,0,5715,0,0,17,10,1127,5,...,0,0,0,0,0,0,1,0,1,0
45209,57,1.0,0,668,0,0,17,10,508,4,...,0,0,0,0,0,0,1,0,0,1
45210,37,1.0,0,2971,0,0,17,10,361,2,...,0,0,0,0,0,0,1,0,1,0

In [23]:
X.isna().sum()

age                     0
education            1857
default                 0
balance                 0
housing                 0
loan                    0
day                     0
month                   0
duration                0
campaign                0
pdays                   0
previous                0
job_admin.              0
job_blue-collar         0
job_entrepreneur        0
job_housemaid           0
job_management          0
job_retired             0
job_self-employed       0
job_services            0
job_student             0
job_technician          0
job_unemployed          0
marital_divorced        0
marital_married         0
marital_single          0
contact_cellular        0
contact_telephone       0
dtype: int64

In [24]:
X['education'] = X['education'].fillna(X['education'].median())

In [25]:
X.isna().sum().sum()

0

In [26]:
y

0         no
1         no
2         no
3         no
4         no
        ...
45206    yes
45207    yes
45208    yes
45209     no
45210     no
Name: y, Length: 45211, dtype: object

In [27]:
label_encoder = LabelEncoder()

y = label_encoder.fit_transform(y)

label_encoder.classes_

array(['no', 'yes'], dtype=object)

In [28]:
# Train Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, shuffle=True, random_state=1)

In [29]:
X_train.shape, X_test.shape

((31647, 28), (13564, 28))

In [30]:
# Scale X
scaler = StandardScaler()
scaler.fit(X_train)

X_train = pd.DataFrame(scaler.transform(X_train), index=X_train.index, columns=X_train.columns)
X_test = pd.DataFrame(scaler.transform(X_test), index=X_test.index, columns=X_test.columns)

In [31]:
X_train

,age,education,default,balance,housing,loan,day,month,duration,campaign,...,job_self-employed,job_services,job_student,job_technician,job_unemployed,marital_divorced,marital_married,marital_single,contact_cellular,contact_telephone
6149,-0.841435,-0.215155,7.351072,-0.513906,0.892293,-0.435537,1.347581,-0.476213,0.654165,-0.563213,...,-0.187879,-0.319662,-0.144354,-0.447443,-0.172356,-0.359110,0.815594,-0.631721,-1.359412,-0.264482
12403,-0.652995,-0.215155,-0.136035,-0.590185,0.892293,2.296018,1.347581,-0.061419,-0.572683,0.391184,...,-0.187879,-0.319662,-0.144354,-0.447443,-0.172356,-0.359110,-1.226100,1.582977,-1.359412,-0.264482
21645,-0.841435,-0.215155,-0.136035,-0.353719,0.892293,-0.435537,0.385408,0.768170,-0.351385,-0.245081,...,-0.187879,-0.319662,-0.144354,2.234924,-0.172356,-0.359110,0.815594,-0.631721,0.735612,-0.264482
29580,-0.464554,-0.215155,7.351072,-0.434130,-1.120709,2.296018,-1.538940,-1.720596,-0.421268,0.391184,...,-0.187879,-0.319662,-0.144354,-0.447443,-0.172356,-0.359110,0.815594,-0.631721,0.735612,-0.264482
31245,-1.689418,-0.215155,-0.136035,-0.283797,-1.120709,-0.435537,-1.538940,-1.305802,-0.665862,-0.563213,...,-0.187879,-0.319662,6.927421,-0.447443,-0.172356,-0.359110,-1.226100,1.582977,0.735612,-0.264482
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43723,0.854529,1.319789,-0.136035,0.143366,-1.120709,-0.435537,-0.215951,-0.476213,0.230980,0.073052,...,-0.187879,-0.319662,-0.144354,2.234924,-0.172356,-0.359110,0.815594,-0.631721,0.735612,-0.264482
32511,-0.652995,1.319789,-0.136035,-0.270448,0.892293,-0.435537,0.144864,-0.891007,-0.099027,-0.245081,...,-0.187879,-0.319662,-0.144354,-0.447443,-0.172356,2.784665,-1.226100,-0.631721,0.735612,-0.264482
5192,0.666089,1.319789,-0.136035,0.893761,-1.120709,-0.435537,0.625951,-0.476213,0.405689,1.027448,...,-0.187879,-0.319662,-0.144354,-0.447443,-0.172356,-0.359110,0.815594,-0.631721,-1.359412,-0.264482
12172,0.383428,-0.215155,-0.136035,0.128428,-1.120709,-0.435537,0.505679,-0.061419,-0.960926,2.618110,...,-0.187879,-0.319662,-0.144354,-0.447443,-0.172356,-0.359110,0.815594,-0.631721,-1.359412,-0.264482
33003,0.383428,-0.215155,-0.136035,-0.327340,0.892293,-0.435537,0.144864,-0.891007,-0.308678,-0.245081,...,-0.187879,-0.319662,-0.144354,-0.447443,-0.172356,-0.359110,0.815594,-0.631721,0.735612,-0.264482

In [33]:
y_train

array([0, 0, 0, ..., 0, 0, 0])

### Training

In [34]:
model = LogisticRegression()

model.fit(X_train, y_train)

LogisticRegression()

In [35]:
model_acc = model.score(X_test, y_test)
print("Model Accuracy: ", model_acc)

Model Accuracy:  0.8899292244175759