## ☀️ Solar Radiation Regression 

Given *solar data from different time periods*, let's try to predict the **solar radiation** of a given period.

We will use XGBoost to make our predictions. 

Data source: https://www.kaggle.com/datasets/dronio/SolarEnergy

### Importing Libraries

In [8]:
import numpy as np
import pandas as pd

import re
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

import optuna
import xgboost as xgb

from sklearn.metrics import r2_score

In [2]:
data = pd.read_csv('SolarPrediction.csv')
data

,UNIXTime,Data,Time,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet
0,1475229326,9/29/2016 12:00:00 AM,23:55:26,1.21,48,30.46,59,177.39,5.62,06:13:00,18:13:00
1,1475229023,9/29/2016 12:00:00 AM,23:50:23,1.21,48,30.46,58,176.78,3.37,06:13:00,18:13:00
2,1475228726,9/29/2016 12:00:00 AM,23:45:26,1.23,48,30.46,57,158.75,3.37,06:13:00,18:13:00
3,1475228421,9/29/2016 12:00:00 AM,23:40:21,1.21,48,30.46,60,137.71,3.37,06:13:00,18:13:00
4,1475228124,9/29/2016 12:00:00 AM,23:35:24,1.17,48,30.46,62,104.95,5.62,06:13:00,18:13:00
...,...,...,...,...,...,...,...,...,...,...,...
32681,1480587604,12/1/2016 12:00:00 AM,00:20:04,1.22,44,30.43,102,145.42,6.75,06:41:00,17:42:00
32682,1480587301,12/1/2016 12:00:00 AM,00:15:01,1.17,44,30.42,102,117.78,6.75,06:41:00,17:42:00
32683,1480587001,12/1/2016 12:00:00 AM,00:10:01,1.20,44,30.42,102,145.19,9.00,06:41:00,17:42:00
32684,1480586702,12/1/2016 12:00:00 AM,00:05:02,1.23,44,30.42,101,164.19,7.87,06:41:00,17:42:00
32685,1480586402,12/1/2016 12:00:00 AM,00:00:02,1.20,44,30.43,101,83.59,3.37,06:41:00,17:42:00

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32686 entries, 0 to 32685
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   UNIXTime                32686 non-null  int64
 1   Data                    32686 non-null  object
 2   Time                    32686 non-null  object
 3   Radiation               32686 non-null  float64
 4   Temperature             32686 non-null  int64
 5   Pressure                32686 non-null  float64
 6   Humidity                32686 non-null  int64
 7   WindDirection(Degrees)  32686 non-null  float64
 8   Speed                   32686 non-null  float64
 9   TimeSunRise             32686 non-null  object
 10  TimeSunSet              32686 non-null  object
dtypes: float64(4), int64(3), object(4)
memory usage: 2.7+ MB

In [5]:
print("Total missing values: ", data.isna().sum().sum())

Total missing values:  0

### Feature Engineering

In [6]:
df = data.copy()

In [7]:
df

,UNIXTime,Data,Time,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet
0,1475229326,9/29/2016 12:00:00 AM,23:55:26,1.21,48,30.46,59,177.39,5.62,06:13:00,18:13:00
1,1475229023,9/29/2016 12:00:00 AM,23:50:23,1.21,48,30.46,58,176.78,3.37,06:13:00,18:13:00
2,1475228726,9/29/2016 12:00:00 AM,23:45:26,1.23,48,30.46,57,158.75,3.37,06:13:00,18:13:00
3,1475228421,9/29/2016 12:00:00 AM,23:40:21,1.21,48,30.46,60,137.71,3.37,06:13:00,18:13:00
4,1475228124,9/29/2016 12:00:00 AM,23:35:24,1.17,48,30.46,62,104.95,5.62,06:13:00,18:13:00
...,...,...,...,...,...,...,...,...,...,...,...
32681,1480587604,12/1/2016 12:00:00 AM,00:20:04,1.22,44,30.43,102,145.42,6.75,06:41:00,17:42:00
32682,1480587301,12/1/2016 12:00:00 AM,00:15:01,1.17,44,30.42,102,117.78,6.75,06:41:00,17:42:00
32683,1480587001,12/1/2016 12:00:00 AM,00:10:01,1.20,44,30.42,102,145.19,9.00,06:41:00,17:42:00
32684,1480586702,12/1/2016 12:00:00 AM,00:05:02,1.23,44,30.42,101,164.19,7.87,06:41:00,17:42:00
32685,1480586402,12/1/2016 12:00:00 AM,00:00:02,1.20,44,30.43,101,83.59,3.37,06:41:00,17:42:00

In [14]:
df['Month'] = df['Data'].apply(lambda x: re.search(r'^\d+', x).group(0)).astype(int)
df['Day'] = df['Data'].apply(lambda x: re.search(r'(?<=\/)\d+(?=\/)', x).group(0)).astype(int)
df['Year'] = df['Data'].apply(lambda x: re.search(r'(?<=\/)\d+(?=\s)', x).group(0)).astype(int)
df = df.drop('Data', axis=1)
df

,UNIXTime,Time,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet,Month,Day,Year
0,1475229326,23:55:26,1.21,48,30.46,59,177.39,5.62,06:13:00,18:13:00,9,29,2016
1,1475229023,23:50:23,1.21,48,30.46,58,176.78,3.37,06:13:00,18:13:00,9,29,2016
2,1475228726,23:45:26,1.23,48,30.46,57,158.75,3.37,06:13:00,18:13:00,9,29,2016
3,1475228421,23:40:21,1.21,48,30.46,60,137.71,3.37,06:13:00,18:13:00,9,29,2016
4,1475228124,23:35:24,1.17,48,30.46,62,104.95,5.62,06:13:00,18:13:00,9,29,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32681,1480587604,00:20:04,1.22,44,30.43,102,145.42,6.75,06:41:00,17:42:00,12,1,2016
32682,1480587301,00:15:01,1.17,44,30.42,102,117.78,6.75,06:41:00,17:42:00,12,1,2016
32683,1480587001,00:10:01,1.20,44,30.42,102,145.19,9.00,06:41:00,17:42:00,12,1,2016
32684,1480586702,00:05:02,1.23,44,30.42,101,164.19,7.87,06:41:00,17:42:00,12,1,2016
32685,1480586402,00:00:02,1.20,44,30.43,101,83.59,3.37,06:41:00,17:42:00,12,1,2016

In [15]:
df['Hour'] = df['Time'].apply(lambda x: re.search(r'^\d+', x).group(0)).astype(int)
df['Minute'] = df['Time'].apply(lambda x: re.search(r'(?<=:)\d+(?=:)', x).group(0)).astype(int)
df['Second'] = df['Time'].apply(lambda x: re.search(r'\d+$', x).group(0)).astype(int)
df = df.drop('Time', axis=1)
df

,UNIXTime,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet,Month,Day,Year,Hour,Minute,Second
0,1475229326,1.21,48,30.46,59,177.39,5.62,06:13:00,18:13:00,9,29,2016,23,55,26
1,1475229023,1.21,48,30.46,58,176.78,3.37,06:13:00,18:13:00,9,29,2016,23,50,23
2,1475228726,1.23,48,30.46,57,158.75,3.37,06:13:00,18:13:00,9,29,2016,23,45,26
3,1475228421,1.21,48,30.46,60,137.71,3.37,06:13:00,18:13:00,9,29,2016,23,40,21
4,1475228124,1.17,48,30.46,62,104.95,5.62,06:13:00,18:13:00,9,29,2016,23,35,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32681,1480587604,1.22,44,30.43,102,145.42,6.75,06:41:00,17:42:00,12,1,2016,0,20,4
32682,1480587301,1.17,44,30.42,102,117.78,6.75,06:41:00,17:42:00,12,1,2016,0,15,1
32683,1480587001,1.20,44,30.42,102,145.19,9.00,06:41:00,17:42:00,12,1,2016,0,10,1
32684,1480586702,1.23,44,30.42,101,164.19,7.87,06:41:00,17:42:00,12,1,2016,0,5,2
32685,1480586402,1.20,44,30.43,101,83.59,3.37,06:41:00,17:42:00,12,1,2016,0,0,2

In [16]:
df['Sunrise_Hour'] = df['TimeSunRise'].apply(lambda x: re.search(r'^\d+', x).group(0)).astype(int)
df['Sunrise_Minute'] = df['TimeSunRise'].apply(lambda x: re.search(r'(?<=:)\d+(?=:)', x).group(0)).astype(int)

df['Sunset_Hour'] = df['TimeSunSet'].apply(lambda x: re.search(r'^\d+', x).group(0)).astype(int)
df['Sunset_Minute'] = df['TimeSunSet'].apply(lambda x: re.search(r'(?<=:)\d+(?=:)', x).group(0)).astype(int)

df = df.drop(['TimeSunRise', 'TimeSunSet'], axis=1)
df

,UNIXTime,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,Month,Day,Year,Hour,Minute,Second,Sunrise_Hour,Sunrise_Minute,Sunset_Hour,Sunset_Minute
0,1475229326,1.21,48,30.46,59,177.39,5.62,9,29,2016,23,55,26,6,13,18,13
1,1475229023,1.21,48,30.46,58,176.78,3.37,9,29,2016,23,50,23,6,13,18,13
2,1475228726,1.23,48,30.46,57,158.75,3.37,9,29,2016,23,45,26,6,13,18,13
3,1475228421,1.21,48,30.46,60,137.71,3.37,9,29,2016,23,40,21,6,13,18,13
4,1475228124,1.17,48,30.46,62,104.95,5.62,9,29,2016,23,35,24,6,13,18,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32681,1480587604,1.22,44,30.43,102,145.42,6.75,12,1,2016,0,20,4,6,41,17,42
32682,1480587301,1.17,44,30.42,102,117.78,6.75,12,1,2016,0,15,1,6,41,17,42
32683,1480587001,1.20,44,30.42,102,145.19,9.00,12,1,2016,0,10,1,6,41,17,42
32684,1480586702,1.23,44,30.42,101,164.19,7.87,12,1,2016,0,5,2,6,41,17,42
32685,1480586402,1.20,44,30.43,101,83.59,3.37,12,1,2016,0,0,2,6,41,17,42

In [17]:
df.dtypes

UNIXTime                    int64
Radiation                 float64
Temperature                 int64
Pressure                  float64
Humidity                    int64
WindDirection(Degrees)    float64
Speed                     float64
Month                       int64
Day                         int64
Year                        int64
Hour                        int64
Minute                      int64
Second                      int64
Sunrise_Hour                int64
Sunrise_Minute              int64
Sunset_Hour                 int64
Sunset_Minute               int64
dtype: object

### Splitting/Scaling

In [18]:
y = df['Radiation'].copy()
X = df.drop('Radiation', axis=1).copy()

In [19]:
scaler = StandardScaler()

X = pd.DataFrame(scaler.fit_transform(X), columns=X.columns)

In [20]:
X

,UNIXTime,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,Month,Day,Year,Hour,Minute,Second,Sunrise_Hour,Sunrise_Minute,Sunset_Hour,Sunset_Minute
0,-0.937753,-0.500439,0.678974,-0.616253,0.407620,-0.178738,-1.391540,1.512248,0.0,1.655482,1.589236,0.660811,0.0,-0.943425,1.369126,-1.525765
1,-0.937854,-0.500439,0.678974,-0.654730,0.400285,-0.823359,-1.391540,1.512248,0.0,1.655482,1.299687,0.429167,0.0,-0.943425,1.369126,-1.525765
2,-0.937953,-0.500439,0.678974,-0.693206,0.183490,-0.823359,-1.391540,1.512248,0.0,1.655482,1.010138,0.660811,0.0,-0.943425,1.369126,-1.525765
3,-0.938054,-0.500439,0.678974,-0.577776,-0.069497,-0.823359,-1.391540,1.512248,0.0,1.655482,0.720589,0.274737,0.0,-0.943425,1.369126,-1.525765
4,-0.938153,-0.500439,0.678974,-0.500823,-0.463407,-0.178738,-1.391540,1.512248,0.0,1.655482,0.431040,0.506381,0.0,-0.943425,1.369126,-1.525765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32681,0.845373,-1.145490,0.130250,1.038241,0.023209,0.145006,1.344003,-1.701824,0.0,-1.672098,-0.437606,-1.037912,0.0,0.860876,-0.730393,0.293766
32682,0.845273,-1.145490,-0.052658,1.038241,-0.309138,0.145006,1.344003,-1.701824,0.0,-1.672098,-0.727155,-1.269556,0.0,0.860876,-0.730393,0.293766
32683,0.845173,-1.145490,-0.052658,1.038241,0.020443,0.789627,1.344003,-1.701824,0.0,-1.672098,-1.016704,-1.269556,0.0,0.860876,-0.730393,0.293766
32684,0.845073,-1.145490,-0.052658,0.999764,0.248901,0.465884,1.344003,-1.701824,0.0,-1.672098,-1.306253,-1.192341,0.0,0.860876,-0.730393,0.293766
32685,0.844973,-1.145490,0.130250,0.999764,-0.720242,-0.823359,1.344003,-1.701824,0.0,-1.672098,-1.595802,-1.192341,0.0,0.860876,-0.730393,0.293766

In [26]:
X = X.drop(['Year', 'Sunrise_Hour'], axis=1)
X

,UNIXTime,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,Month,Day,Hour,Minute,Second,Sunrise_Minute,Sunset_Hour,Sunset_Minute
0,-0.937753,-0.500439,0.678974,-0.616253,0.407620,-0.178738,-1.391540,1.512248,1.655482,1.589236,0.660811,-0.943425,1.369126,-1.525765
1,-0.937854,-0.500439,0.678974,-0.654730,0.400285,-0.823359,-1.391540,1.512248,1.655482,1.299687,0.429167,-0.943425,1.369126,-1.525765
2,-0.937953,-0.500439,0.678974,-0.693206,0.183490,-0.823359,-1.391540,1.512248,1.655482,1.010138,0.660811,-0.943425,1.369126,-1.525765
3,-0.938054,-0.500439,0.678974,-0.577776,-0.069497,-0.823359,-1.391540,1.512248,1.655482,0.720589,0.274737,-0.943425,1.369126,-1.525765
4,-0.938153,-0.500439,0.678974,-0.500823,-0.463407,-0.178738,-1.391540,1.512248,1.655482,0.431040,0.506381,-0.943425,1.369126,-1.525765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32681,0.845373,-1.145490,0.130250,1.038241,0.023209,0.145006,1.344003,-1.701824,-1.672098,-0.437606,-1.037912,0.860876,-0.730393,0.293766
32682,0.845273,-1.145490,-0.052658,1.038241,-0.309138,0.145006,1.344003,-1.701824,-1.672098,-0.727155,-1.269556,0.860876,-0.730393,0.293766
32683,0.845173,-1.145490,-0.052658,1.038241,0.020443,0.789627,1.344003,-1.701824,-1.672098,-1.016704,-1.269556,0.860876,-0.730393,0.293766
32684,0.845073,-1.145490,-0.052658,0.999764,0.248901,0.465884,1.344003,-1.701824,-1.672098,-1.306253,-1.192341,0.860876,-0.730393,0.293766
32685,0.844973,-1.145490,0.130250,0.999764,-0.720242,-0.823359,1.344003,-1.701824,-1.672098,-1.595802,-1.192341,0.860876,-0.730393,0.293766

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=100)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, train_size=0.8, random_state=200)

In [28]:
X_train.shape, X_test.shape, X_val.shape

((18304, 14), (9806, 14), (4576, 14))

In [29]:
dtrain = xgb.DMatrix(X_train, label=y_train)
dval = xgb.DMatrix(X_val, label=y_val)
dtest = xgb.DMatrix(X_test, label=y_test)

In [30]:
dtrain

### Training

In [37]:
def get_model_rmse(params):
    model = xgb.train(params, dtrain, num_boost_round=100, evals=[(dval, 'eval')], early_stopping_rounds=10, verbose_eval=0)
    results = model.eval(dval)
    rmse = float(re.search(r'[\d.]+$', results).group(0))
    return rmse

In [38]:
def objective(trial):
    learning_rate = trial.suggest_loguniform('learning_rate', 0.00001, 10.0)
    max_depth = trial.suggest_int('max_depth', 4, 8)
    l1_reg = trial.suggest_loguniform('l1_reg', 0.00001, 10.0)
    l2_reg = trial.suggest_loguniform('l2_reg', 0.00001, 10.0)

    params = {'learning_rate': learning_rate, 'max_depth': max_depth, 'alpha': l1_reg, 'lambda': l2_reg}

    return get_model_rmse(params)

In [39]:
study = optuna.create_study()
study.optimize(objective, n_trials=100, show_progress_bar=True)

[I 2025-03-30 10:37:25,480] A new study created in memory with name: no-name-72040383-d5d8-4878-bec5-823cc40cc706

  0%|          | 0/100 [00:00<?, ?it/s]

/tmp/ipykernel_10860/3436004869.py:2: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use suggest_float(..., log=True) instead.
  learning_rate = trial.suggest_loguniform('learning_rate', 0.00001, 10.0)
/tmp/ipykernel_10860/3436004869.py:4: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use suggest_float(..., log=True) instead.
  l1_reg = trial.suggest_loguniform('l1_reg', 0.00001, 10.0)
/tmp/ipykernel_10860/3436004869.py:5: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use suggest_float(..., log=True) instead.
  l2_reg = trial.suggest_loguniform('l2_reg', 0.00001, 10.0)

[I 2025-03-30 10:37:25,933] Trial 0 finished with value: 142.38152827287917 and parameters: {'learning_rate': 0.012331243214187085, 'max_depth': 6, 'l1_reg': 0.09926000352150509, 'l2_reg': 0.0015426596791508758}. Best is trial 0 with value: 142.38152827287917.
[I 2025-03-30 10:37:26,619] Trial 1 finished with value: 105.17978010698015 and parameters: {'learning_rate': 0.01919430435964637, 'max_depth': 8, 'l1_reg': 0.08545364039043445, 'l2_reg': 5.705504732350006e-05}. Best is trial 1 with value: 105.17978010698015.
[I 2025-03-30 10:37:26,778] Trial 2 finished with value: 318.5835937554384 and parameters: {'learning_rate': 3.4698905875670265e-05, 'max_depth': 4, 'l1_reg': 0.024414458045417954, 'l2_reg': 0.0005416253804673675}. Best is trial 1 with value: 105.17978010698015.
[I 2025-03-30 10:37:27,014] Trial 3 finished with value: 317.1904220836364 and parameters: {'learning_rate': 9.09844459315777e-05, 'max_depth': 4, 'l1_reg': 1.1800944134069815, 'l2_reg': 1.346300216599482}. Best is trial 1 with value: 105.17978010698015.
[I 2025-03-30 10:37:27,406] Trial 4 finished with value: 202.30873123377276 and parameters: {'learning_rate': 0.00576720244824451, 'max_depth': 7, 'l1_reg': 1.0656609482833626, 'l2_reg': 0.00017047270582043296}. Best is trial 1 with value: 105.17978010698015.
[I 2025-03-30 10:37:27,590] Trial 5 finished with value: 270.0606807692642 and parameters: {'learning_rate': 0.0021252656651596993, 'max_depth': 5, 'l1_reg': 0.0003313971801832673, 'l2_reg': 0.19568070407875598}. Best is trial 1 with value: 105.17978010698015.
[I 2025-03-30 10:37:27,854] Trial 6 finished with value: 186.66173999816033 and parameters: {'learning_rate': 0.007202641513339897, 'max_depth': 6, 'l1_reg': 0.008244332287632418, 'l2_reg': 0.03461349911026407}. Best is trial 1 with value: 105.17978010698015.
[I 2025-03-30 10:37:27,960] Trial 7 finished with value: 105.11252930745385 and parameters: {'learning_rate': 0.8299150276439373, 'max_depth': 8, 'l1_reg': 0.09587815997610907, 'l2_reg': 0.0039735988544242085}. Best is trial 7 with value: 105.11252930745385.
[I 2025-03-30 10:37:27,998] Trial 8 finished with value: 48127315480.426056 and parameters: {'learning_rate': 6.6015720729042995, 'max_depth': 4, 'l1_reg': 0.0002796022294310303, 'l2_reg': 0.12682093116466334}. Best is trial 7 with value: 105.11252930745385.
[I 2025-03-30 10:37:28,080] Trial 9 finished with value: 150.10969348829346 and parameters: {'learning_rate': 1.7187705056470337, 'max_depth': 7, 'l1_reg': 0.0022277057731097615, 'l2_reg': 0.0005629710260271957}. Best is trial 7 with value: 105.11252930745385.
[I 2025-03-30 10:37:28,516] Trial 10 finished with value: 87.1910664651358 and parameters: {'learning_rate': 0.370882394220863, 'max_depth': 8, 'l1_reg': 1.0716780808612743e-05, 'l2_reg': 8.136290515059367}. Best is trial 10 with value: 87.1910664651358.
[I 2025-03-30 10:37:28,713] Trial 11 finished with value: 89.61327996808164 and parameters: {'learning_rate': 0.3540751299940703, 'max_depth': 8, 'l1_reg': 8.027240102084262, 'l2_reg': 2.6809793119190855}. Best is trial 10 with value: 87.1910664651358.
[I 2025-03-30 10:37:29,055] Trial 12 finished with value: 86.30768409759142 and parameters: {'learning_rate': 0.18680642691589489, 'max_depth': 8, 'l1_reg': 1.0521369682832528e-05, 'l2_reg': 7.397123995890879}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:29,312] Trial 13 finished with value: 87.32182736693007 and parameters: {'learning_rate': 0.13312834543020036, 'max_depth': 7, 'l1_reg': 1.2765269179672332e-05, 'l2_reg': 7.7416033492669465}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:29,826] Trial 14 finished with value: 87.01741445850901 and parameters: {'learning_rate': 0.10105399454521354, 'max_depth': 8, 'l1_reg': 2.5578540695768738e-05, 'l2_reg': 0.6861467413845568}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:30,318] Trial 15 finished with value: 91.79262121192554 and parameters: {'learning_rate': 0.054580427530415844, 'max_depth': 7, 'l1_reg': 7.815941394523784e-05, 'l2_reg': 0.3584608565226158}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:30,892] Trial 16 finished with value: 291.28092934252277 and parameters: {'learning_rate': 0.0010656093772440096, 'max_depth': 8, 'l1_reg': 5.4592198038938853e-05, 'l2_reg': 0.023321642297759612}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:30,960] Trial 17 finished with value: 1819943823724.9766 and parameters: {'learning_rate': 8.788067182962207, 'max_depth': 7, 'l1_reg': 0.0002974360921566656, 'l2_reg': 0.8618360556448705}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:31,141] Trial 18 finished with value: 99.40316968212574 and parameters: {'learning_rate': 0.06205540946706099, 'max_depth': 5, 'l1_reg': 0.00172582876182838, 'l2_reg': 1.2249485587480913e-05}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:31,421] Trial 19 finished with value: 301.99066359975586 and parameters: {'learning_rate': 0.0006676648497481179, 'max_depth': 6, 'l1_reg': 5.556058181874535e-05, 'l2_reg': 0.05617276066391051}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:31,504] Trial 20 finished with value: 1311.044819346797 and parameters: {'learning_rate': 2.149716511331338, 'max_depth': 8, 'l1_reg': 0.0012719416498566027, 'l2_reg': 0.5841747837853667}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:31,951] Trial 21 finished with value: 86.89793905652854 and parameters: {'learning_rate': 0.260831857114075, 'max_depth': 8, 'l1_reg': 1.5777318499627132e-05, 'l2_reg': 9.472686502478345}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:32,403] Trial 22 finished with value: 87.31666286318496 and parameters: {'learning_rate': 0.14909256895272427, 'max_depth': 8, 'l1_reg': 1.5537125976492747e-05, 'l2_reg': 3.2052347144940647}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:32,882] Trial 23 finished with value: 93.6636666120654 and parameters: {'learning_rate': 0.03530582601404248, 'max_depth': 7, 'l1_reg': 3.667173820219549e-05, 'l2_reg': 2.855543617427598}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:33,258] Trial 24 finished with value: 87.1390339566023 and parameters: {'learning_rate': 0.12758562668270151, 'max_depth': 8, 'l1_reg': 0.00014802751491704117, 'l2_reg': 9.495208888223969}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:33,435] Trial 25 finished with value: 96.07021249791033 and parameters: {'learning_rate': 0.5900187211980717, 'max_depth': 7, 'l1_reg': 3.42179827299445e-05, 'l2_reg': 1.3788524337389525}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:33,594] Trial 26 finished with value: 131.11197045956598 and parameters: {'learning_rate': 1.37027405139373, 'max_depth': 8, 'l1_reg': 0.0007093719566245195, 'l2_reg': 0.16796901389774163}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:33,884] Trial 27 finished with value: 88.69571161356042 and parameters: {'learning_rate': 0.281835684597386, 'max_depth': 6, 'l1_reg': 2.2311444337188195e-05, 'l2_reg': 3.2170281105592333}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:34,376] Trial 28 finished with value: 92.47450386935806 and parameters: {'learning_rate': 0.029723775538075026, 'max_depth': 8, 'l1_reg': 0.00013940356808752713, 'l2_reg': 0.008189228801823257}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:34,445] Trial 29 finished with value: 40206424.73763074 and parameters: {'learning_rate': 3.934806998539563, 'max_depth': 7, 'l1_reg': 0.00011296446963154218, 'l2_reg': 0.3981287497960821}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:34,700] Trial 30 finished with value: 166.5378161507719 and parameters: {'learning_rate': 0.009919709338783092, 'max_depth': 5, 'l1_reg': 0.006608415752579451, 'l2_reg': 1.4167952926213119}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:35,182] Trial 31 finished with value: 86.89898341538334 and parameters: {'learning_rate': 0.10949950945318201, 'max_depth': 8, 'l1_reg': 0.00013202486423123693, 'l2_reg': 8.97113053534821}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:35,667] Trial 32 finished with value: 86.52840210202748 and parameters: {'learning_rate': 0.09472110367952999, 'max_depth': 8, 'l1_reg': 1.1114331899989552e-05, 'l2_reg': 9.461299447676907}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:36,116] Trial 33 finished with value: 123.27285032884058 and parameters: {'learning_rate': 0.01477014948492264, 'max_depth': 8, 'l1_reg': 1.023938072138366e-05, 'l2_reg': 5.271309310028643}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:36,490] Trial 34 finished with value: 86.74394677135005 and parameters: {'learning_rate': 0.16572128553504556, 'max_depth': 8, 'l1_reg': 2.8928929463886765e-05, 'l2_reg': 3.6638055959697704}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:36,785] Trial 35 finished with value: 87.81362240867685 and parameters: {'learning_rate': 0.22487682121406521, 'max_depth': 7, 'l1_reg': 2.2972923423037322e-05, 'l2_reg': 1.7900708935571938}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:36,910] Trial 36 finished with value: 97.07740515380391 and parameters: {'learning_rate': 0.8482829598041185, 'max_depth': 8, 'l1_reg': 4.7706410962969486e-05, 'l2_reg': 4.460518061099971}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:37,241] Trial 37 finished with value: 102.14533304200167 and parameters: {'learning_rate': 0.023833678755047136, 'max_depth': 7, 'l1_reg': 0.2812076916141034, 'l2_reg': 1.36752038079215}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:37,490] Trial 38 finished with value: 316.901970933603 and parameters: {'learning_rate': 9.44362164104954e-05, 'max_depth': 6, 'l1_reg': 0.0005557582341272106, 'l2_reg': 0.09401305981155841}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:37,939] Trial 39 finished with value: 202.40343542119774 and parameters: {'learning_rate': 0.005616964961183857, 'max_depth': 8, 'l1_reg': 0.02785667850505012, 'l2_reg': 0.346351346272666}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:38,255] Trial 40 finished with value: 90.38981626234674 and parameters: {'learning_rate': 0.05597811847967307, 'max_depth': 7, 'l1_reg': 1.0359928573818815e-05, 'l2_reg': 4.3122761830411465}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:38,426] Trial 41 finished with value: 89.5260121662946 and parameters: {'learning_rate': 0.5077589322715522, 'max_depth': 8, 'l1_reg': 0.00015977037246779502, 'l2_reg': 9.880919373716493}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:38,815] Trial 42 finished with value: 86.83482303831876 and parameters: {'learning_rate': 0.09589836720031747, 'max_depth': 8, 'l1_reg': 8.028071136523582e-05, 'l2_reg': 4.906257400475269}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:39,338] Trial 43 finished with value: 240.01223589734124 and parameters: {'learning_rate': 0.003402248616683148, 'max_depth': 8, 'l1_reg': 2.3220464039313002e-05, 'l2_reg': 0.0014593155048400457}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:39,523] Trial 44 finished with value: 91.21481090966458 and parameters: {'learning_rate': 0.2780882551408011, 'max_depth': 8, 'l1_reg': 7.049048089201555e-05, 'l2_reg': 2.20061199959013}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:39,618] Trial 45 finished with value: 104.68452359043877 and parameters: {'learning_rate': 1.213455353343015, 'max_depth': 8, 'l1_reg': 1.9832670444751785e-05, 'l2_reg': 4.618969574675428}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:40,030] Trial 46 finished with value: 87.26361163658056 and parameters: {'learning_rate': 0.06543987636783748, 'max_depth': 8, 'l1_reg': 3.7469877525817293e-05, 'l2_reg': 0.8418829302528528}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:40,114] Trial 47 finished with value: 14856949.841013739 and parameters: {'learning_rate': 3.7089230517271305, 'max_depth': 7, 'l1_reg': 8.019167979043926e-05, 'l2_reg': 5.365770630903385}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:40,465] Trial 48 finished with value: 87.47226919782541 and parameters: {'learning_rate': 0.19178912184608346, 'max_depth': 8, 'l1_reg': 0.00478250890625174, 'l2_reg': 2.1699341528310137}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:40,609] Trial 49 finished with value: 98.93763702660934 and parameters: {'learning_rate': 0.5504485853380905, 'max_depth': 5, 'l1_reg': 0.02180974108012961, 'l2_reg': 0.00023299946746704823}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:40,786] Trial 50 finished with value: 147.43906932473206 and parameters: {'learning_rate': 0.014728307556611251, 'max_depth': 4, 'l1_reg': 0.0002511958678289516, 'l2_reg': 6.0084305340374975}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:41,208] Trial 51 finished with value: 87.96274140250442 and parameters: {'learning_rate': 0.07243655478670957, 'max_depth': 8, 'l1_reg': 1.632334556557917e-05, 'l2_reg': 8.470756187117674}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:41,840] Trial 52 finished with value: 90.44791888616025 and parameters: {'learning_rate': 0.03811898620123956, 'max_depth': 8, 'l1_reg': 0.0004815461932211461, 'l2_reg': 2.8278277914337804}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:42,240] Trial 53 finished with value: 86.65372261016034 and parameters: {'learning_rate': 0.10612645061656821, 'max_depth': 8, 'l1_reg': 9.083849637922795e-05, 'l2_reg': 9.388269704919008}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:42,388] Trial 54 finished with value: 89.86655950872309 and parameters: {'learning_rate': 0.3716989326555058, 'max_depth': 8, 'l1_reg': 4.031977287197184e-05, 'l2_reg': 1.1790526649892554}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:42,655] Trial 55 finished with value: 89.49395087735903 and parameters: {'learning_rate': 0.19193975104692423, 'max_depth': 7, 'l1_reg': 8.259704138654219e-05, 'l2_reg': 0.5423875237753546}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:43,127] Trial 56 finished with value: 87.00136180641725 and parameters: {'learning_rate': 0.10159695355267585, 'max_depth': 8, 'l1_reg': 1.4676202279622231e-05, 'l2_reg': 3.8384193720178743}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:43,219] Trial 57 finished with value: 103.48260412097738 and parameters: {'learning_rate': 0.8233582346149622, 'max_depth': 8, 'l1_reg': 0.0002037624926077725, 'l2_reg': 3.792327043615673e-05}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:43,641] Trial 58 finished with value: 101.52830049661372 and parameters: {'learning_rate': 0.022191500321869274, 'max_depth': 8, 'l1_reg': 2.7883220149759382, 'l2_reg': 6.390309472634304}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:43,949] Trial 59 finished with value: 89.37652166653133 and parameters: {'learning_rate': 0.08229645992180777, 'max_depth': 7, 'l1_reg': 3.167905716401048e-05, 'l2_reg': 2.1653568380492225}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:44,254] Trial 60 finished with value: 88.01325799277106 and parameters: {'learning_rate': 0.16492147233483173, 'max_depth': 8, 'l1_reg': 0.0008631503714165028, 'l2_reg': 0.22948482754819519}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:44,693] Trial 61 finished with value: 89.58530810159846 and parameters: {'learning_rate': 0.04288444963538685, 'max_depth': 8, 'l1_reg': 5.788106035364852e-05, 'l2_reg': 9.988367013208851}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:44,886] Trial 62 finished with value: 88.78376654837388 and parameters: {'learning_rate': 0.42460462726984954, 'max_depth': 8, 'l1_reg': 0.00010207339481295835, 'l2_reg': 7.115185473717939}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:45,247] Trial 63 finished with value: 86.49717690708792 and parameters: {'learning_rate': 0.1252826990177015, 'max_depth': 8, 'l1_reg': 1.6564937112554052e-05, 'l2_reg': 0.9438645939053075}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:45,673] Trial 64 finished with value: 87.08240680637506 and parameters: {'learning_rate': 0.11089888081756123, 'max_depth': 8, 'l1_reg': 1.5037745964599023e-05, 'l2_reg': 3.3075134736474756}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:45,851] Trial 65 finished with value: 89.57872083926898 and parameters: {'learning_rate': 0.2943309727213622, 'max_depth': 8, 'l1_reg': 2.6563997023118436e-05, 'l2_reg': 0.8576821742543691}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:45,926] Trial 66 finished with value: 4501.900283872451 and parameters: {'learning_rate': 2.2926990584215123, 'max_depth': 7, 'l1_reg': 4.851697472000442e-05, 'l2_reg': 1.96127897790905}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:46,021] Trial 67 finished with value: 99.07090714393598 and parameters: {'learning_rate': 0.7747459006782864, 'max_depth': 8, 'l1_reg': 1.0435727796310649e-05, 'l2_reg': 1.1730208292815847}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:46,410] Trial 68 finished with value: 318.9751672872241 and parameters: {'learning_rate': 1.7362962765709435e-05, 'max_depth': 8, 'l1_reg': 2.7767546525667872e-05, 'l2_reg': 5.774058308803723}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:46,755] Trial 69 finished with value: 91.94086852180618 and parameters: {'learning_rate': 0.045161327847659256, 'max_depth': 7, 'l1_reg': 0.0003761130671042653, 'l2_reg': 3.482880658991201}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:47,261] Trial 70 finished with value: 157.72036494131544 and parameters: {'learning_rate': 0.009302102260374654, 'max_depth': 8, 'l1_reg': 1.8046484761429528e-05, 'l2_reg': 0.02265830753236941}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:47,567] Trial 71 finished with value: 86.6813946118451 and parameters: {'learning_rate': 0.12332446263853938, 'max_depth': 8, 'l1_reg': 0.0001298003746744394, 'l2_reg': 7.254391239753068}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:47,951] Trial 72 finished with value: 87.25083200974164 and parameters: {'learning_rate': 0.1443873862777252, 'max_depth': 8, 'l1_reg': 5.6971465081740874e-05, 'l2_reg': 6.427156489005624}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:48,328] Trial 73 finished with value: 87.31382538065549 and parameters: {'learning_rate': 0.21130164437840793, 'max_depth': 8, 'l1_reg': 0.0001939612864706706, 'l2_reg': 3.801503082721242}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:48,723] Trial 74 finished with value: 87.90367688188938 and parameters: {'learning_rate': 0.08482389972233545, 'max_depth': 8, 'l1_reg': 0.00010579614818098731, 'l2_reg': 9.949131201861887}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:49,175] Trial 75 finished with value: 92.62501834420831 and parameters: {'learning_rate': 0.030060194953746382, 'max_depth': 8, 'l1_reg': 3.260158759151875e-05, 'l2_reg': 1.6367248940561554}. Best is trial 12 with value: 86.30768409759142.
[I 2025-03-30 10:37:49,418] Trial 76 finished with value: 86.95862940097916 and parameters: {'learning_rate': 0.27913284172527875, 'max_depth': 8, 'l1_reg': 1.4106150503650717e-05, 'l2_reg': 2.753971379577966}. Best is trial 12 with value: 86.30768409759142.

In [41]:
best_params = study.best_params
best_params

{'learning_rate': 0.18680642691589489,
 'max_depth': 8,
 'l1_reg': 1.0521369682832528e-05,
 'l2_reg': 7.397123995890879}

In [42]:
model = xgb.train(best_params, dtrain, num_boost_round=10000, evals=[(dval, 'eval')], early_stopping_rounds=10)

[0]	eval-rmse:268.15351
[1]	eval-rmse:227.44220
[2]	eval-rmse:194.48263
[3]	eval-rmse:169.17011
[4]	eval-rmse:149.81739
[5]	eval-rmse:134.63231
[6]	eval-rmse:123.03539
[7]	eval-rmse:113.81258
[8]	eval-rmse:107.50600
[9]	eval-rmse:102.82537
[10]	eval-rmse:99.39182
[11]	eval-rmse:96.67288
[12]	eval-rmse:94.80953
[13]	eval-rmse:93.44560
[14]	eval-rmse:92.54637

/home/aditya/miniconda3/envs/dsenv/lib/python3.10/site-packages/xgboost/callback.py:386: UserWarning: [10:40:12] WARNING: /workspace/src/learner.cc:738:
Parameters: { "l1_reg", "l2_reg" } are not used.

  self.starting_round = model.num_boosted_rounds()

[15]	eval-rmse:91.49904
[16]	eval-rmse:90.38235
[17]	eval-rmse:89.77014
[18]	eval-rmse:89.40376
[19]	eval-rmse:88.94293
[20]	eval-rmse:88.80607
[21]	eval-rmse:88.60663
[22]	eval-rmse:88.60545
[23]	eval-rmse:88.53499
[24]	eval-rmse:88.52435
[25]	eval-rmse:88.44512
[26]	eval-rmse:88.24876
[27]	eval-rmse:88.17823
[28]	eval-rmse:88.27999
[29]	eval-rmse:88.18417
[30]	eval-rmse:88.10707
[31]	eval-rmse:87.96140
[32]	eval-rmse:87.88420
[33]	eval-rmse:87.62091
[34]	eval-rmse:87.56283
[35]	eval-rmse:87.51526
[36]	eval-rmse:87.42580
[37]	eval-rmse:87.40823
[38]	eval-rmse:87.37898
[39]	eval-rmse:87.41656
[40]	eval-rmse:87.41498
[41]	eval-rmse:87.36599
[42]	eval-rmse:87.36765
[43]	eval-rmse:87.27881
[44]	eval-rmse:87.23976
[45]	eval-rmse:87.18432
[46]	eval-rmse:87.12900
[47]	eval-rmse:87.13128
[48]	eval-rmse:86.98482
[49]	eval-rmse:86.97945
[50]	eval-rmse:86.93093
[51]	eval-rmse:86.92348
[52]	eval-rmse:86.94057
[53]	eval-rmse:86.95345
[54]	eval-rmse:86.87177
[55]	eval-rmse:86.65723
[56]	eval-rmse:86.65791
[57]	eval-rmse:86.58844
[58]	eval-rmse:86.55797
[59]	eval-rmse:86.60946
[60]	eval-rmse:86.62203
[61]	eval-rmse:86.65318
[62]	eval-rmse:86.67044
[63]	eval-rmse:86.68080
[64]	eval-rmse:86.76428
[65]	eval-rmse:86.68936
[66]	eval-rmse:86.65679
[67]	eval-rmse:86.60564

### Results

In [43]:
y_true = np.array(y_test, dtype=float)
y_true

array([1.22, 1.22, 1.21, ..., 1.22, 1.22, 1.24])

In [44]:
y_pred = np.array(model.predict(dtest), dtype=float)
y_pred

array([ 0.50289249,  0.22582763, -0.8963173 , ...,  3.64432526,
        1.62027025,  0.03743032])

In [45]:
r2 = r2_score(y_true, y_pred)

print("R^2 Score: {:.4f}".format(r2))

R^2 Score: 0.9381