## ⛽ UK Fuel Sale Year Prediction

Given *data about fuel sales in the UK*, let's try to predict if a given sale was **made in the last nine years.**

We will use a variety of different models to make our predictions.

Data source: https://www.kaggle.com/datasets/benten867/uk-fuel-price-weekly-statistics20032020

### Importing libraries

In [1]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier

In [2]:
data = pd.read_csv('fuel price.csv')
data

,Unnamed: 0,Date,Pump price in pence/litre (ULSP),Pump price in pence/litre (ULSD),Duty rate in pence/litre (ULSP),Duty rate in pence/litre (ULSD),VAT percentage rate (ULSP),VAT percentage rate (ULSD)
0,2,09/06/2003,74.59,76.77,45.82,45.82,17.5,17.5
1,3,16/06/2003,74.47,76.69,45.82,45.82,17.5,17.5
2,4,23/06/2003,74.42,76.62,45.82,45.82,17.5,17.5
3,5,30/06/2003,74.35,76.51,45.82,45.82,17.5,17.5
4,6,07/07/2003,74.28,76.46,45.82,45.82,17.5,17.5
...,...,...,...,...,...,...,...,...
904,906,05/10/2020,113.26,118.11,57.95,57.95,20.0,20.0
905,907,12/10/2020,113.19,118.05,57.95,57.95,20.0,20.0
906,908,19/10/2020,113.18,118.08,57.95,57.95,20.0,20.0
907,909,26/10/2020,113.14,118.08,57.95,57.95,20.0,20.0
908,910,02/11/2020,113.11,118.06,57.95,57.95,20.0,20.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 909 entries, 0 to 908
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        909 non-null    int64
 1   Date                              909 non-null    object
 2   Pump price in pence/litre (ULSP)  909 non-null    float64
 3   Pump price in pence/litre (ULSD)  909 non-null    float64
 4   Duty rate in pence/litre (ULSP)   909 non-null    float64
 5   Duty rate in pence/litre (ULSD)   909 non-null    float64
 6   VAT percentage rate (ULSP)        909 non-null    float64
 7   VAT percentage rate (ULSD)        909 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 56.9+ KB

### Preprocessing

In [17]:
df = data.copy()

In [18]:
# Drop index column
df = df.drop('Unnamed: 0', axis=1)

In [19]:
df['Date'].unique() # checking the date format (%d-%m-%Y)

array(['09/06/2003', '16/06/2003', '23/06/2003', '30/06/2003',
       '07/07/2003', '14/07/2003', '21/07/2003', '28/07/2003',
       '04/08/2003', '11/08/2003', '18/08/2003', '26/08/2003',
       '01/09/2003', '08/09/2003', '15/09/2003', '22/09/2003',
       '29/09/2003', '06/10/2003', '13/10/2003', '20/10/2003',
       '27/10/2003', '03/11/2003', '10/11/2003', '17/11/2003',
       '24/11/2003', '01/12/2003', '08/12/2003', '15/12/2003',
       '22/12/2003', '29/12/2003', '05/01/2004', '12/01/2004',
       '19/01/2004', '26/01/2004', '02/02/2004', '09/02/2004',
       '16/02/2004', '23/02/2004', '01/03/2004', '08/03/2004',
       '15/03/2004', '22/03/2004', '29/03/2004', '05/04/2004',
       '12/04/2004', '19/04/2004', '26/04/2004', '04/05/2004',
       '10/05/2004', '17/05/2004', '24/05/2004', '31/05/2004',
       '07/06/2004', '14/06/2004', '21/06/2004', '28/06/2004',
       '05/07/2004', '12/07/2004', '19/07/2004', '26/07/2004',
       '02/08/2004', '09/08/2004', '16/08/2004', '23/08/2004',
       '31/08/2004', '06/09/2004', '13/09/2004', '20/09/2004',
       '27/09/2004', '04/10/2004', '11/10/2004', '18/10/2004',
       '25/10/2004', '01/11/2004', '08/11/2004', '15/11/2004',
       '22/11/2004', '29/11/2004', '06/12/2004', '13/12/2004',
       '20/12/2004', '27/12/2004', '03/01/2005', '10/01/2005',
       '17/01/2005', '24/01/2005', '31/01/2005', '07/02/2005',
       '14/02/2005', '21/02/2005', '28/02/2005', '07/03/2005',
       '14/03/2005', '21/03/2005', '28/03/2005', '04/04/2005',
       '11/04/2005', '18/04/2005', '25/04/2005', '02/05/2005',
       '09/05/2005', '16/05/2005', '23/05/2005', '30/05/2005',
       '06/06/2005', '13/06/2005', '20/06/2005', '27/06/2005',
       '04/07/2005', '11/07/2005', '18/07/2005', '25/07/2005',
       '01/08/2005', '08/08/2005', '15/08/2005', '22/08/2005',
       '29/08/2005', '05/09/2005', '12/09/2005', '19/09/2005',
       '26/09/2005', '03/10/2005', '10/10/2005', '17/10/2005',
       '24/10/2005', '31/10/2005', '07/11/2005', '14/11/2005',
       '21/11/2005', '28/11/2005', '05/12/2005', '12/12/2005',
       '19/12/2005', '26/12/2005', '02/01/2006', '09/01/2006',
       '16/01/2006', '23/01/2006', '30/01/2006', '06/02/2006',
       '13/02/2006', '20/02/2006', '27/02/2006', '06/03/2006',
       '13/03/2006', '20/03/2006', '27/03/2006', '03/04/2006',
       '10/04/2006', '18/04/2006', '24/04/2006', '01/05/2006',
       '08/05/2006', '15/05/2006', '22/05/2006', '29/05/2006',
       '05/06/2006', '12/06/2006', '19/06/2006', '26/06/2006',
       '03/07/2006', '10/07/2006', '17/07/2006', '24/07/2006',
       '31/07/2006', '07/08/2006', '14/08/2006', '21/08/2006',
       '28/08/2006', '04/09/2006', '11/09/2006', '18/09/2006',
       '25/09/2006', '02/10/2006', '09/10/2006', '16/10/2006',
       '23/10/2006', '30/10/2006', '06/11/2006', '13/11/2006',
       '20/11/2006', '27/11/2006', '04/12/2006', '11/12/2006',
       '18/12/2006', '25/12/2006', '01/01/2007', '08/01/2007',
       '15/01/2007', '22/01/2007', '29/01/2007', '05/02/2007',
       '12/02/2007', '19/02/2007', '26/02/2007', '05/03/2007',
       '12/03/2007', '19/03/2007', '26/03/2007', '02/04/2007',
       '10/04/2007', '16/04/2007', '23/04/2007', '30/04/2007',
       '07/05/2007', '14/05/2007', '21/05/2007', '28/05/2007',
       '04/06/2007', '11/06/2007', '18/06/2007', '25/06/2007',
       '02/07/2007', '09/07/2007', '16/07/2007', '23/07/2007',
       '30/07/2007', '06/08/2007', '13/08/2007', '20/08/2007',
       '27/08/2007', '03/09/2007', '10/09/2007', '17/09/2007',
       '24/09/2007', '01/10/2007', '08/10/2007', '15/10/2007',
       '22/10/2007', '29/10/2007', '05/11/2007', '12/11/2007',
       '19/11/2007', '26/11/2007', '03/12/2007', '10/12/2007',
       '17/12/2007', '24/12/2007', '31/12/2007', '07/01/2008',
       '14/01/2008', '21/01/2008', '28/01/2008', '04/02/2008',
       '11/02/2008', '18/02/2008', '25/02/2008', '03/03/2008',
       '10/03/2008', '17/03/2008', '24/03/2008', '31/03/2008',
       '07/04/2008', '14/04/2008', '21/04/2008', '28/04/2008',
       '05/05/2008', '12/05/2008', '19/05/2008', '26/05/2008',
       '02/06/2008', '09/06/2008', '16/06/2008', '23/06/2008',
       '30/06/2008', '07/07/2008', '14/07/2008', '21/07/2008',
       '28/07/2008', '04/08/2008', '11/08/2008', '18/08/2008',
       '25/08/2008', '01/09/2008', '08/09/2008', '15/09/2008',
       '22/09/2008', '29/09/2008', '06/10/2008', '13/10/2008',
       '20/10/2008', '27/10/2008', '03/11/2008', '10/11/2008',
       '17/11/2008', '24/11/2008', '01/12/2008', '08/12/2008',
       '15/12/2008', '22/12/2008', '29/12/2008', '05/01/2009',
       '12/01/2009', '19/01/2009', '26/01/2009', '02/02/2009',
       '09/02/2009', '16/02/2009', '23/02/2009', '02/03/2009',
       '09/03/2009', '16/03/2009', '23/03/2009', '30/03/2009',
       '06/04/2009', '13/04/2009', '20/04/2009', '27/04/2009',
       '04/05/2009', '11/05/2009', '18/05/2009', '25/05/2009',
       '01/06/2009', '08/06/2009', '15/06/2009', '22/06/2009',
       '29/06/2009', '06/07/2009', '13/07/2009', '20/07/2009',
       '27/07/2009', '03/08/2009', '10/08/2009', '17/08/2009',
       '24/08/2009', '31/08/2009', '07/09/2009', '14/09/2009',
       '21/09/2009', '28/09/2009', '05/10/2009', '12/10/2009',
       '19/10/2009', '26/10/2009', '02/11/2009', '09/11/2009',
       '16/11/2009', '23/11/2009', '30/11/2009', '07/12/2009',
       '14/12/2009', '21/12/2009', '28/12/2009', '04/01/2010',
       '11/01/2010', '18/01/2010', '25/01/2010', '01/02/2010',
       '08/02/2010', '15/02/2010', '22/02/2010', '01/03/2010',
       '08/03/2010', '15/03/2010', '22/03/2010', '29/03/2010',
       '05/04/2010', '12/04/2010', '19/04/2010', '26/04/2010',
       '03/05/2010', '10/05/2010', '17/05/2010', '24/05/2010',
       '31/05/2010', '07/06/2010', '14/06/2010', '21/06/2010',
       '28/06/2010', '05/07/2010', '12/07/2010', '19/07/2010',
       '26/07/2010', '02/08/2010', '09/08/2010', '16/08/2010',
       '23/08/2010', '30/08/2010', '06/09/2010', '13/09/2010',
       '20/09/2010', '27/09/2010', '04/10/2010', '11/10/2010',
       '18/10/2010', '25/10/2010', '01/11/2010', '08/11/2010',
       '15/11/2010', '22/11/2010', '29/11/2010', '06/12/2010',
       '13/12/2010', '20/12/2010', '27/12/2010', '03/01/2011',
       '10/01/2011', '17/01/2011', '24/01/2011', '31/01/2011',
       '07/02/2011', '14/02/2011', '21/02/2011', '28/02/2011',
       '07/03/2011', '14/03/2011', '21/03/2011', '28/03/2011',
       '04/04/2011', '11/04/2011', '18/04/2011', '25/04/2011',
       '02/05/2011', '09/05/2011', '16/05/2011', '23/05/2011',
       '30/05/2011', '06/06/2011', '13/06/2011', '20/06/2011',
       '27/06/2011', '04/07/2011', '11/07/2011', '18/07/2011',
       '25/07/2011', '01/08/2011', '08/08/2011', '15/08/2011',
       '22/08/2011', '29/08/2011', '05/09/2011', '12/09/2011',
       '19/09/2011', '26/09/2011', '03/10/2011', '10/10/2011',
       '17/10/2011', '24/10/2011', '31/10/2011', '07/11/2011',
       '14/11/2011', '21/11/2011', '28/11/2011', '05/12/2011',
       '12/12/2011', '19/12/2011', '26/12/2011', '02/01/2012',
       '09/01/2012', '16/01/2012', '23/01/2012', '30/01/2012',
       '06/02/2012', '13/02/2012', '20/02/2012', '27/02/2012',
       '05/03/2012', '12/03/2012', '19/03/2012', '26/03/2012',
       '02/04/2012', '09/04/2012', '16/04/2012', '23/04/2012',
       '30/04/2012', '07/05/2012', '14/05/2012', '21/05/2012',
       '28/05/2012', '04/06/2012', '11/06/2012', '18/06/2012',
       '25/06/2012', '02/07/2012', '09/07/2012', '16/07/2012',
       '23/07/2012', '30/07/2012', '06/08/2012', '13/08/2012',
       '20/08/2012', '27/08/2012', '03/09/2012', '10/09/2012',
       '17/09/2012', '24/09/2012', '01/10/2012', '08/10/2012',
       '15/10/2012', '22/10/2012', '29/10/2012', '05/11/2012',
       '12/11/2012', '19/11/2012', '26/11/2012', '03/12/2012',
       '10/12/2012', '17/12/2012', '24/12/2012', '31/12/2012',
       '07/01/2013', '14/01/2013', '21/01/2013', '28/01/2013',
       '04/02/2013', '11/02/2013', '18/02/2013', '25/02/2013',
       '04/03/2013', '11/03/2013', '18/03/2013', '25/03/2013',
       '01/04/2013', '08/04/2013', '15/04/2013', '22/04/2013',
       '29/04/2013', '06/05/2013', '13/05/2013', '20/05/2013',
       '27/05/2013', '03/06/2013', '10/06/2013', '17/06/2013',
       '24/06/2013', '01/07/2013', '08/07/2013', '15/07/2013',
       '22/07/2013', '29/07/2013', '05/08/2013', '12/08/2013',
       '19/08/2013', '28/08/2013', '02/09/2013', '09/09/2013',
       '16/09/2013', '23/09/2013', '30/09/2013', '07/10/2013',
       '14/10/2013', '21/10/2013', '28/10/2013', '04/11/2013',
       '11/11/2013', '18/11/2013', '25/11/2013', '02/12/2013',
       '09/12/2013', '16/12/2013', '23/12/2013', '30/12/2013',
       '06/01/2014', '13/01/2014', '20/01/2014', '27/01/2014',
       '03/02/2014', '10/02/2014', '17/02/2014', '24/02/2014',
       '03/03/2014', '10/03/2014', '17/03/2014', '24/03/2014',
       '31/03/2014', '07/04/2014', '14/04/2014', '21/04/2014',
       '28/04/2014', '05/05/2014', '12/05/2014', '19/05/2014',
       '26/05/2014', '02/06/2014', '09/06/2014', '16/06/2014',
       '23/06/2014', '30/06/2014', '07/07/2014', '14/07/2014',
       '21/07/2014', '28/07/2014', '04/08/2014', '11/08/2014',
       '18/08/2014', '25/08/2014', '01/09/2014', '08/09/2014',
       '15/09/2014', '22/09/2014', '29/09/2014', '06/10/2014',
       '13/10/2014', '20/10/2014', '27/10/2014', '03/11/2014',
       '10/11/2014', '17/11/2014', '24/11/2014', '01/12/2014',
       '08/12/2014', '15/12/2014', '22/12/2014', '29/12/2014',
       '05/01/2015', '12/01/2015', '19/01/2015', '26/01/2015',
       '02/02/2015', '09/02/2015', '16/02/2015', '23/02/2015',
       '02/03/2015', '09/03/2015', '16/03/2015', '23/03/2015',
       '30/03/2015', '06/04/2015', '13/04/2015', '20/04/2015',
       '27/04/2015', '04/05/2015', '11/05/2015', '18/05/2015',
       '25/05/2015', '01/06/2015', '08/06/2015', '15/06/2015',
       '22/06/2015', '29/06/2015', '06/07/2015', '13/07/2015',
       '20/07/2015', '27/07/2015', '03/08/2015', '10/08/2015',
       '17/08/2015', '24/08/2015', '31/08/2015', '07/09/2015',
       '14/09/2015', '21/09/2015', '28/09/2015', '05/10/2015',
       '12/10/2015', '19/10/2015', '26/10/2015', '02/11/2015',
       '09/11/2015', '16/11/2015', '23/11/2015', '30/11/2015',
       '07/12/2015', '14/12/2015', '21/12/2015', '28/12/2015',
       '04/01/2016', '11/01/2016', '18/01/2016', '25/01/2016',
       '01/02/2016', '08/02/2016', '15/02/2016', '22/02/2016',
       '29/02/2016', '07/03/2016', '14/03/2016', '21/03/2016',
       '28/03/2016', '04/04/2016', '11/04/2016', '18/04/2016',
       '25/04/2016', '02/05/2016', '09/05/2016', '16/05/2016',
       '23/05/2016', '30/05/2016', '06/06/2016', '13/06/2016',
       '20/06/2016', '27/06/2016', '04/07/2016', '11/07/2016',
       '18/07/2016', '25/07/2016', '01/08/2016', '08/08/2016',
       '15/08/2016', '22/08/2016', '29/08/2016', '05/09/2016',
       '12/09/2016', '19/09/2016', '26/09/2016', '03/10/2016',
       '10/10/2016', '17/10/2016', '24/10/2016', '31/10/2016',
       '07/11/2016', '14/11/2016', '21/11/2016', '28/11/2016',
       '05/12/2016', '12/12/2016', '19/12/2016', '26/12/2016',
       '02/01/2017', '09/01/2017', '16/01/2017', '23/01/2017',
       '30/01/2017', '06/02/2017', '13/02/2017', '20/02/2017',
       '27/02/2017', '06/03/2017', '13/03/2017', '20/03/2017',
       '27/03/2017', '03/04/2017', '10/04/2017', '17/04/2017',
       '24/04/2017', '01/05/2017', '08/05/2017', '15/05/2017',
       '22/05/2017', '29/05/2017', '05/06/2017', '12/06/2017',
       '19/06/2017', '26/06/2017', '03/07/2017', '10/07/2017',
       '17/07/2017', '24/07/2017', '31/07/2017', '07/08/2017',
       '14/08/2017', '21/08/2017', '28/08/2017', '04/09/2017',
       '11/09/2017', '18/09/2017', '25/09/2017', '02/10/2017',
       '09/10/2017', '16/10/2017', '23/10/2017', '30/10/2017',
       '06/11/2017', '13/11/2017', '20/11/2017', '27/11/2017',
       '04/12/2017', '11/12/2017', '18/12/2017', '25/12/2017',
       '01/01/2018', '08/01/2018', '15/01/2018', '22/01/2018',
       '29/01/2018', '05/02/2018', '12/02/2018', '19/02/2018',
       '26/02/2018', '05/03/2018', '12/03/2018', '19/03/2018',
       '26/03/2018', '02/04/2018', '09/04/2018', '16/04/2018',
       '23/04/2018', '30/04/2018', '07/05/2018', '14/05/2018',
       '21/05/2018', '28/05/2018', '04/06/2018', '11/06/2018',
       '18/06/2018', '25/06/2018', '02/07/2018', '09/07/2018',
       '16/07/2018', '23/07/2018', '30/07/2018', '06/08/2018',
       '13/08/2018', '20/08/2018', '27/08/2018', '03/09/2018',
       '10/09/2018', '17/09/2018', '24/09/2018', '01/10/2018',
       '08/10/2018', '15/10/2018', '22/10/2018', '29/10/2018',
       '05/11/2018', '12/11/2018', '19/11/2018', '26/11/2018',
       '03/12/2018', '10/12/2018', '17/12/2018', '24/12/2018',
       '31/12/2018', '07/01/2019', '14/01/2019', '21/01/2019',
       '28/01/2019', '04/02/2019', '11/02/2019', '18/02/2019',
       '25/02/2019', '04/03/2019', '11/03/2019', '18/03/2019',
       '25/03/2019', '01/04/2019', '08/04/2019', '15/04/2019',
       '22/04/2019', '29/04/2019', '06/05/2019', '13/05/2019',
       '20/05/2019', '27/05/2019', '03/06/2019', '10/06/2019',
       '17/06/2019', '24/06/2019', '01/07/2019', '08/07/2019',
       '15/07/2019', '22/07/2019', '29/07/2019', '05/08/2019',
       '12/08/2019', '19/08/2019', '26/08/2019', '02/09/2019',
       '09/09/2019', '16/09/2019', '23/09/2019', '30/09/2019',
       '07/10/2019', '14/10/2019', '21/10/2019', '28/10/2019',
       '04/11/2019', '11/11/2019', '18/11/2019', '25/11/2019',
       '02/12/2019', '09/12/2019', '16/12/2019', '23/12/2019',
       '30/12/2019', '06/01/2020', '13/01/2020', '20/01/2020',
       '27/01/2020', '03/02/2020', '10/02/2020', '17/02/2020',
       '24/02/2020', '02/03/2020', '09/03/2020', '16/03/2020',
       '23/03/2020', '30/03/2020', '06/04/2020', '13/04/2020',
       '20/04/2020', '27/04/2020', '04/05/2020', '11/05/2020',
       '18/05/2020', '25/05/2020', '01/06/2020', '08/06/2020',
       '15/06/2020', '22/06/2020', '29/06/2020', '06/07/2020',
       '13/07/2020', '20/07/2020', '27/07/2020', '03/08/2020',
       '10/08/2020', '17/08/2020', '24/08/2020', '31/08/2020',
       '07/09/2020', '14/09/2020', '21/09/2020', '28/09/2020',
       '05/10/2020', '12/10/2020', '19/10/2020', '26/10/2020',
       '02/11/2020'], dtype=object)

In [20]:
# Generate date columns
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

df['Year'] = df['Date'].apply(lambda x: x.year)
df['Month'] = df['Date'].apply(lambda x: x.month)
df['Day'] = df['Date'].apply(lambda x: x.day)
df = df.drop('Date', axis=1)
df

,Pump price in pence/litre (ULSP),Pump price in pence/litre (ULSD),Duty rate in pence/litre (ULSP),Duty rate in pence/litre (ULSD),VAT percentage rate (ULSP),VAT percentage rate (ULSD),Year,Month,Day
0,74.59,76.77,45.82,45.82,17.5,17.5,2003,6,9
1,74.47,76.69,45.82,45.82,17.5,17.5,2003,6,16
2,74.42,76.62,45.82,45.82,17.5,17.5,2003,6,23
3,74.35,76.51,45.82,45.82,17.5,17.5,2003,6,30
4,74.28,76.46,45.82,45.82,17.5,17.5,2003,7,7
...,...,...,...,...,...,...,...,...,...
904,113.26,118.11,57.95,57.95,20.0,20.0,2020,10,5
905,113.19,118.05,57.95,57.95,20.0,20.0,2020,10,12
906,113.18,118.08,57.95,57.95,20.0,20.0,2020,10,19
907,113.14,118.08,57.95,57.95,20.0,20.0,2020,10,26
908,113.11,118.06,57.95,57.95,20.0,20.0,2020,11,2

In [21]:
# Split df into X and y
y = df['Year'].copy()
X = df.drop('Year', axis=1).copy()

In [23]:
y.value_counts()

Year
2012    53
2007    53
2018    53
2004    52
2011    52
2006    52
2008    52
2009    52
2010    52
2005    52
2016    52
2013    52
2015    52
2014    52
2019    52
2017    52
2020    44
2003    30
Name: count, dtype: int64

In [24]:
y.unique()

array([2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2016, 2017, 2018, 2019, 2020])

In [25]:
# Create labels from the Year column
y = y.apply(lambda x: 1 if x >= 2012 else 0)
y

0      0
1      0
2      0
3      0
4      0
      ..
904    1
905    1
906    1
907    1
908    1
Name: Year, Length: 909, dtype: int64

In [27]:
# Scale X with a standard scaler (mean 0 variance 1)
scaler = StandardScaler()
X = pd.DataFrame(scaler.fit_transform(X), columns=X.columns)
X

,Pump price in pence/litre (ULSP),Pump price in pence/litre (ULSD),Duty rate in pence/litre (ULSP),Duty rate in pence/litre (ULSD),VAT percentage rate (ULSP),VAT percentage rate (ULSD),Month,Day
0,-1.994782,-2.002815,-1.866717,-1.866717,-0.818744,-0.818744,-0.165095,-0.766680
1,-2.001340,-2.006938,-1.866717,-1.866717,-0.818744,-0.818744,-0.165095,0.028493
2,-2.004073,-2.010545,-1.866717,-1.866717,-0.818744,-0.818744,-0.165095,0.823666
3,-2.007898,-2.016215,-1.866717,-1.866717,-0.818744,-0.818744,-0.165095,1.618839
4,-2.011724,-2.018791,-1.866717,-1.866717,-0.818744,-0.818744,0.126873,-0.993873
...,...,...,...,...,...,...,...,...
904,0.118560,0.127729,0.735037,0.735037,0.813358,0.813358,1.002776,-1.221065
905,0.114735,0.124636,0.735037,0.735037,0.813358,0.813358,1.002776,-0.425892
906,0.114188,0.126183,0.735037,0.735037,0.813358,0.813358,1.002776,0.369281
907,0.112002,0.126183,0.735037,0.735037,0.813358,0.813358,1.002776,1.164454
908,0.110363,0.125152,0.735037,0.735037,0.813358,0.813358,1.294744,-1.561853

### Training

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=123)
X_train

,Pump price in pence/litre (ULSP),Pump price in pence/litre (ULSD),Duty rate in pence/litre (ULSP),Duty rate in pence/litre (ULSD),VAT percentage rate (ULSP),VAT percentage rate (ULSD),Month,Day
254,-0.137752,0.125152,-0.895081,-0.895081,-0.818744,-0.818744,-0.749031,0.596473
834,1.001169,1.069827,0.735037,0.735037,0.813358,0.813358,-0.165095,-1.448257
82,-1.635180,-1.572480,-1.592171,-1.592171,-0.818744,-0.818744,-1.624934,-1.448257
64,-1.615506,-1.687408,-1.592171,-1.592171,-0.818744,-0.818744,0.418841,1.732435
556,0.970564,1.093018,0.735037,0.735037,0.813358,0.813358,-1.332966,-1.448257
...,...,...,...,...,...,...,...,...
98,-1.397996,-1.340563,-1.592171,-1.592171,-0.818744,-0.818744,-0.749031,1.050858
322,-0.441609,-0.610283,-0.071442,-0.071442,-2.450846,-2.450846,0.418841,-0.653084
382,0.268850,0.172051,0.786515,0.786515,-0.818744,-0.818744,1.002776,-1.334661
365,0.388535,0.245749,0.572026,0.572026,-0.818744,-0.818744,-0.165095,-0.993873
510,1.447665,1.505315,0.735037,0.735037,0.813358,0.813358,-1.040999,0.255685

In [29]:
X_test

,Pump price in pence/litre (ULSP),Pump price in pence/litre (ULSD),Duty rate in pence/litre (ULSP),Duty rate in pence/litre (ULSD),VAT percentage rate (ULSP),VAT percentage rate (ULSD),Month,Day
721,0.319128,0.221011,0.735037,0.735037,0.813358,0.813358,-0.749031,-1.448257
335,-0.163437,-0.323736,0.357536,0.357536,-2.450846,-2.450846,1.294744,-0.766680
590,0.956355,0.906970,0.735037,0.735037,0.813358,0.813358,0.710808,1.505243
7,-1.966910,-1.998177,-1.866717,-1.866717,-0.818744,-0.818744,0.126873,1.391647
567,0.984774,1.055912,0.735037,0.735037,0.813358,0.813358,-0.749031,0.596473
...,...,...,...,...,...,...,...,...
232,-0.525771,-0.533492,-0.895081,-0.895081,-0.818744,-0.818744,1.294744,0.369281
150,-0.860234,-0.882914,-1.592171,-1.592171,-0.818744,-0.818744,-0.749031,0.937262
397,0.917007,0.860586,0.949527,0.949527,0.813358,0.813358,-1.624934,0.142089
132,-1.285963,-1.226666,-1.592171,-1.592171,-0.818744,-0.818744,1.586712,0.369281
9,-1.948329,-1.986838,-1.866717,-1.866717,-0.818744,-0.818744,0.418841,-0.539488

In [37]:
models = {
     "    Logistic Regression" : LogisticRegression(),
     " Support Vector Machine" : SVC(),
     "          Decision Tree" : DecisionTreeClassifier(),
     "         Neural Network" : MLPClassifier(),
     "    K-Nearest Neighbors" : KNeighborsClassifier(),
     "      Gradient Boosting" : GradientBoostingClassifier(),
     "          Random Forest" : RandomForestClassifier(),
     "               AdaBoost" : AdaBoostClassifier()
}

In [38]:
for model in models.values():
    model.fit(X_train, y_train)

/home/aditya/miniconda3/envs/dsenv/lib/python3.10/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

### Results

In [39]:
print("Model Accuracies:\n----------------------------- ")
for name, model in models.items():
    print(name + ": {:.2f}%".format(model.score(X_test, y_test) * 100))

Model Accuracies:
-----------------------------
    Logistic Regression: 97.07%
 Support Vector Machine: 97.07%
          Decision Tree: 98.53%
         Neural Network: 96.34%
    K-Nearest Neighbors: 94.87%
      Gradient Boosting: 95.24%
          Random Forest: 96.34%
               AdaBoost: 97.44%